{% assign emails = case.emails_for_reply_theme %}
{% assign threadlength = emails.size|minus:1 %}  
{% for email in emails reversed %}

{% if forloop.first %}
<!DOCTYPE html>
<html>
<head>
<title>
AGaramond-Regular
 - Web font preview
</title>
<style type='text/css'>

@font-face {
  font-family: 'AGaramond-Regular';
  src: url('https://bitbucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/AGaramond-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGaramond-Regular';
  src:  url('https://bitbucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/AGaramond-Regular.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAFHEAA8AAAAAp/QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABRqAAAABoA
AAAcLq1JyUdERUYAAEwgAAAAHwAAACABFQAGR1BPUwAATGAAAAVHAAAKbrQ33otHU1VCAABMQAAA
ACAAAAAgbJF0j09TLzIAAAHMAAAAVAAAAGBT6gnaY21hcAAABFAAAAJbAAAC0inuoSZnYXNwAABM
GAAAAAgAAAAI//8AA2dseWYAAAiAAAA/wwAAi5SQKUG9aGVhZAAAAVgAAAA0AAAANgrmLytoaGVh
AAABjAAAACAAAAAkBvUDpmhtdHgAAAIgAAACLwAAA56+GyBkbG9jYQAABqwAAAHSAAAB0kA7HcZt
YXhwAAABrAAAAB8AAAAgATEAmW5hbWUAAEhEAAACaAAABXPPmQkHcG9zdAAASqwAAAFqAAAB960+
qeN42mNgZGBgYGQ44lHYvTCe3+YrAzfzC6AIwxXJ0nkw+r/nv88s3szBQC4HAxNIFAB59g0peNpj
YGRgYDr97x/DZJaK/57/PVi8GYAiKOA5ALBpB6B42mNgZGBgeMEwjYGdAQSYgJiRASTmAOYzAAAp
+AHLAHjaY2BibGScwMDKwML4hfELAwPDLwgNxEaMRgwMTEysDBDQwMCw3oGBwQvKZXB0cXJlcGBQ
+M3EdPvfZ4YK5mBGXqAwI1gyhyEDSCowMAEAUkoQE3jabZPNS5RRFMafc64ipVGYGeOM4vgx42iv
kx85YVIjIiVOJLNLclWL2bkKKjeF1SJcGLz/Qf0BraJV9E9EFC0kIhxnEeFr0cR0e+4djUEc+M05
9/vc57kvqvA/uc4/l3/GlIS4IRGOkZwpIDDjuIIKFiWPJdIhz5Di2DTnX2S7l3FerqKHfSNkjXSR
DOkg82SIdLs1JOvm+7WRx/XlZBZ5rSHQVbujK8jqG5wzbWxfQ1K7MKIVjJoU9y9iWG7aT/qCfRmk
zCYS5iRiJo5RHWStLj7hvDIyGqJFd9CvLyHmna3puv2tlxkfIc6678oF1pzHWZ4/RiAl3jFEP/M+
2cSA1JhvkD623yKhBjERpFGzu/IFCfxC3JzGgJ5AWr5x3h/e+wdjgXef494THANreQXV0FrGVnmN
ZrmPMzx3Dt+xzJjmeQWve4RZEiOuhhY/XsU46xoynQi4b1IeYJJjSd8uYUZueW2nmXeTYbLmz4xw
yftSwm2yLOvo5dqAmmbJFBmk5nW9j8AU7Xvngde/ASnaPe9BkXcgpp0e7Ot/GHcf74fzoBHnwRj9
a6WuTu8j0AXG5/RgY9+DA8T+dR6QU8z35CvnHuh/GKcLo9OjEe/BLtp95F6aRZs025qJWOtHrivX
/fv/Vpxfka16veucJ0/JElkhPaTTvSGzzW+ogpznAz0K+bYdD5lv0cstTMhjflfbWG26hwBlTJIA
d+yCztifTYW6n3ocfHX/AIhmy5QAeNqdkdVTlWEQxp/3HA62IqGAiC9HxVYwKBPEREXBDqSlQylB
ultSSrq78yCMOjIqWBgYHD7F+Au8Uvx8PVzppTuzu7Oz89vZ3QeAENOuAcIiyDCriKyWI80sG4BC
DqoIAU90iQmxJDYkgISQdMGQ4KFgXCihylSdalIx1aY61Iia0notsVhRrCJW+yHgeTaBopiRxsSC
WDMymJEPGDnGSCWqSjUolZGGf5GE5/lJgE/lw3hv3oE35814g1+iqcqp7z97uEGun5NwfVw318RV
cYWc/sRd6ah0RGol+iLbXQ//Y0LYwg72cIAjrsAJznCBK9zgDgV4wBNe8MZVXIMPfOEHfwTgOgIR
hBsIZt8JRRjCEYFIRCEaMYhFHOKRgEQkIRkpSMVNpCEdGchEFrJxCznIRR7yUYDbKEQRilGCUpSh
HBWoRBWqUYNa1KEeDWhEE5rRgla0oR0d6EQXutGDXvRBgn7cwQDTTh7TIv7RUcCC4J8LWVMoJ5Kf
MXPW7Dlz581foLBQUUlZZdFiVTX1JRpLNZdRLfHyFSu1V61es3bd+g0bN+nobt6ydZuevoGh0fYd
O3ft3mNsstd03/4DBw8dNjty9Jj58RMWlidPnT5z9tz5CxcvWV22tkFUdGx8WnZBSXFpeVlFVU11
bV1DfWNTS1tre2dHb0+f5L2Xnb3TuF+Rh8tnH2fE5LCfwtFXtp1rICq7Q23d8QhwC5IKwyKz7t0f
fTn29tXrLgwMfZrkPn799sH/zbuJiITwxLjklNSkjEyk5+XnDj5+7jny5GnAi2fDvwEF0tUyAAAA
AAAAAAAAAAAAKgBWAIgA5AFMAcYB4AH6AhICRAJYAnwCkAKmArYC2AMOA1ADmgP2BDgEcASgBOYF
IgVGBXgFjAWgBbQF9AZgBtIHMAduB7oIOAiqCP4JiAnGCgAKkgrcC3gL8AweDGgMuA0mDWwNyg4e
DnYPIg+0ECAQeBCkELIQ3hDwEP4RGBF2EcYR+BJKEoYS3BNKE64T8hQuFLAU5hVwFdAV9hZWFqoW
9Bc2F3YXyhgwGMAZThmuGfwaQBpOGpIauBriGyYbkBvWHFYcahzGHOwdPB2gHdQd5B5iHnQelB6u
Hu4fNB9OH7Af7CACICggXCCCILQhQiG6IloimiMeI6IkJiS4JUgl0iaMJuoneigKKJopOCmIKdgq
KCqGKuAreiu8K/4sQCyQLN4s+C0+LaQuCi5yLuYvZi+8MD4wrjEeMZAyDDKKMwIzeDPGNBY0ZjS4
NRQ1XDWkNe42QjaKNwg3QDd4N7Q3+Dg+OGg4pjkMOXI52jpOOsI7JDukO9g8Mjx4PQY9Yj26PhI+
nj8IP2w/uD/UP/BACEAgQEBAXECCQK5AukDGQOZBBkEmQV5BlkHOQhBCdEKGQrhDRENiQ35DkEP0
RM5E3EVQRcoAAHjavb0JgBtXlSha99YmlUqlpSSV9rW1dLek7tba+766vXS39/a+xEsSO96D7SQO
yRBndYDYSYAALyEDCUuAkLAmBMgMQwLz3gDDTOAxzPsww2T4DJMJDI/N6n9uldQt9eLYjvlO1JKq
VHXPOffs955TFKYKM29SH8V3UQLlpCglHMsVshmH3cZh8penuXCcjuVzB5VQ0OkKBLI5hfexFsbH
S/5MOOxyBvB5g9W0rPQiy6KBZSYrRVGYWoV+jIbwC5RIuSjKSm5kQlwTgvsUqr/sbJZZtyi62c9V
PuAX9CYm8rgoPh5hTPqqz5R6Xz1Fo/8XH6JoKkBRKMJni/DiI3ykqL6KWfWV5dUXWnk8eeIre5K7
TDuz8czN2VjmJtOBxkPmA6nG9LFUMn0deuiJJ57IvAD/Mk9kPgH/YAyaKs48gV7Af0uxAH0bRclF
CdltCu8o5HMxmncoDkVC8TSO8wqhUoQHAhVj8Vi+G8EpOZ5GgGQPKmT+6BnMHQm0LovzQqxbxtjE
6k3poL/hHYe2GTgHKy5Pe2kjF94RijX37tmoZ1zozL+g3sahCyWUb20YRX+3EklN/SxmFG8D/6aj
58blO7YyzHbWE9rJ0uxhOzLIrtW5wWm8ggW4WSo18xodwPdTRspHNVIdVD9FRW0SChOAulHGj7hc
GoclbPPjTDdCS5/So3Asjwp0wD+2e8zvH90z6h9lTZFMxMxxZngzlR5Y6gy6vrRftKLz8nONa/v7
1zYm1/b1rR3KNLdHIm0tmZa2SKQdrV76FHdxiyjgD2F1Hnpm3qTr8O1UFzVKTcFsZzNFPzIhCfMc
r/i1rzwXCcdjcfhLWKtI/qjMCz9yKN2oCHMGjFZgyRQ64Io0osMczCaZS9wztb7AIibpTtsd/nWh
uuF4McLxuLB/PGhO3Xhwx641K1esaW0bleKyb9dmuc/mcIdZVPpGcmh1/9aV0UPuYGKqsw79hGHM
DM/E/XUtJzKFujok8AM+46qTNw2N7k7nB9tXDOSUuqDR3HXWfWN90iDS8PubHBtbB9Zs7j2NAplg
d1N9T10WcEbUOPox9bgqN7VSs3VR+aDUayZmtqAkfokywDVmxcankblQdNjf+35py+HDWyQslagn
JNT9OnK83o0k7RrbzBbqDe2agjmeA0qaOT6Wf6Z8jYS1S0q/UC9BVAytQ9fhJykPyIOiToPi4Pg4
D9DBeD0oHisUlWLhe8KtPI+PHsE8f4sgioZb4NuRo/DtVoMBP3lHDzLyE6t4CfXdIQh39CGJXzXB
G1HPHXoCUzv8+Qq6l8AUiuQj+Ww+a8/aI8jZ8ZGPwP/Ptzz5ZAv5XevMWepr1CnKTlFFVVEBBGSi
03SczP9hf8toO8+wU4JZMiOL+1Qu3TpqwVbG3SXKoo5DepvVQ+4TpJ5CQer/gk6hepBKa7g88e8m
3b+b/h+H4DAJDtFmgt8NgX58ntoN+rFaO95a1ocVLajR1T/zBqrHzwD3UoiOyKj+u+3fxc9c7Mdf
1fRX48yb6BXgaRMlkxn2I8Kq4TQGuOvC5szz9+6odzZPXT/V7KxH3l/+Et++98HJrsPb29q2H+6a
fHDs4jMwxumZi+g03CMI+FtysSZE0C9mFM5usTkCCOYlFgmrs9KNfmwONnOI29/J04zR38BitqOz
ux3e6v3GU2hNsY5maDMtx9m6jaVbusKYZmRM01hmaBwm+LhhrL+DsZIwFohPoVhQyO1jjSgM7JIr
aiJGxuOIAsyWedb2tVuGXLJR0jkdCcWees/KEG8IdXY+2Ne5Js1bnAcGx6dv6NrU7bA4OXGLDyOa
Fhje3t73/pNDK3YzOn3f8umxHaeHb7ASGOpnvoW+CjBkVfqrEq6ALJfHVZFfAAPHcwohLvDa/YkO
h0Vx2YPFWwa6e1JGI3Nzfb4pMpXXGZXr2rpXJHt4uWvNjuyRVn/QrNT5b14xvKUFy1I+3JiPN23A
ej4/2J2PdIaMmJ0cPLIm2aDKz0X0HfwNqhd0bCQMhECFDpSB8RCnOOBToQvlCFwOH7LBd4eNj4Q5
8nne/MDPYsjyn5IV9RlEi4ktfUOwcKYPWAW94gWSGHt5vmATjH4QfLaQ6QBrwKb8Jv2LFtGNvibp
GL40KiGkt3xR4kwYSdavS3rWz/OmVFeQqZrLSGeDladUXn4BPYPPUQli14iVctg5UKkgzxyA5qeB
HYlAw7yCPOF4OLYyr7P+F8MaXDAka6U5gz27YSJ95IkpHebf8bGWNetbDAz68LMuHEYcU+f2YMHU
qecxZj0tawpT9y2jaYXl79qdHYtZKronATLwPfw5Kgo8BTq7QNQ4Ueqqhi7PZKxYFjNQ7Inu0dNP
sjSTzk+HjgwNFzp6OmWPwDdnRjac2LL/4C+Xf3TkHQ5sYsz2Yt3Jz2+7fd3A8A4da/Bft3LjO87B
eL6Zr6F/xscpN/EYwsAZcVCPWTJLoCU5cHBicVSIoeu+la63mTjFYHZYM0+fEvlEYUa0YeQx6HHO
EuaknhQwKua7Dl6cwQYBdyoqPjTVDvh8BfhTocJUCsYo2x/CfppdIt5BQSaoxVU7JBMT5FBtEOJH
ttnrA66ukYPrVt509jBC1w/le843JYfaWlpHOyY68e0rhnwtMbspsr5/xaaJqRv7urct23Dx3f3F
3QPO1am2VXiqL93U78usbR4GXJtm/gq9DLDEYH7DnGryHHzZOpYFQ5vgQnmK/zPT3Z33mnkm3Nqz
8cT6zTcsG8ve0cYxzMaOZROiO4t3jt2xl2F0vi3LNx49d3j9s33pDgFbGE9j8RN3xYYH6zW9pupI
0N0C0crynJakFypMV/kdOcuas/SjigrFmm6H+9hV7baIdi/O3XC+oo+Ub7yowv9QZQxiP2bQi+iD
FAhEMWpn4b9oK3pX6WXUVTr9L19qP48vtH2R4NROXQ/2qAVmmIiOPZRn4YW+UjqD3gmvlpaWh1tU
e1SE+72g3U+Gu+Wj+WgR7nca7vcy+uCXUl9su4DPw/16gU9s4GcHqAb4pYoCiB04I+BOxjSfETgk
pk1WFQ33dR90SqsiAi2BgHlbio7Qar3TXl/GFt9128poStdgdVsTHM10JLw+k9uXjClBl8XsuHjj
HG1TM2/gfwYbbqSWA9hhnvAi8Aeo8BhRBKDYOYfKFQACgOXHFeZRzVNFHPM5sPYSKjtc5DD6K2e8
vld0tIfHBSHkMvj5XVbeIK8+dP7wg8/4+05Oja42spOHeo/vbP/F4/d86NzxUZ0Lpw4HbPZofO8O
gwN91x++tcGY81/v8RmzjE73s4zFjOiDm/bd9p13N29ak4twxmxs2cnlH//B+27Y/YBDsPegpmG3
bFvfdJtI4ZlfzFzEtwFeHdQYaGPwv8E4aZQNEMUbi2vKFjgeF+VCnJhK8NP9qEYVA+lpwJ+obnC4
4hEOvZxkJccjssRGHL4Qy0vTpklwFkMNVtYflvfYaLdbpA2hexyBoAeOd3d413OI9UW+1sNx9tMO
0NsWDnPb77bodOb9/RYrmFYrjUAhW0Exp6SRDRkk5a06vz66o3SwN8aQ07R6ljZJ6PPPWHiD7SNZ
UdB0TBPgmMaPUHVUC9VTsfsxlf5qFMLblIq+mbUtRWAtolHV+bSAxqlMLs/dbg4FwS1Y987DxeW5
jJxZc/ZO4xqFuQkQscbNU3aldWTdphvjshSbWLGuJyhJD6Nb2iMMzVponTe6IdujiLR+3ej0PrAv
VhY06G/Or3V6h87tFpDp23YdotsGh/o5RtP3SeC7J2F+4sD1uTLIRTWI0hiNwAiWEg7wRDsRhz45
2H7g8en1Nh1tYKxs8FOnHn/69nXXOcAAsQFRstu2NV7YfQ4NT96XWutkUed6MIvvfez8o8+sawMY
o2tNWMebB3aqPP87/BOgW5DKzFItp4KgkksLH2YpJltsZc8iTatksviBRe4+et/krn3TazeerWtt
NxZGgEhKo2XK5tv6wP1S48Cx8QlZAPoUtTnU+es+uGf7Y+lmhinTBv2w9OCkt/6p90THVnfXSzpC
kxDMZzfAtaFqLis2SQ0vmTjxsTjNfciollqxEWLZJUQYtHJWcahemWPOLdNQud3aaGYQmzTL8RdO
i6wBGItnJKNico2OOnSC0j5Qx+kYGWIRWmb0vNPa0a4IsvJX/kACJtnsm06mNk43b1A53vYw2jeZ
YDFtw2ABTSfgoN3oF00MZ/B9y6YTffUsYoVhu21ADx/iQY7VyQ+ssSkmywTD8Cu7iNkESjD1Gj80
gu/0S8B9FfCDXUUPJJMEzIAg4MeFq/Gb7zDl51FL1Z5ppP3+e4IyOGDldDpar6FmZQXeZe0YVARr
YxjIsSGlTp+rwWptIORpsMixL54y0tjC8r6we6TLocMrvm/jQXJNYoJhhJHEgMBAaKcDlO6bTIBw
2rDG82x8spoq420QqCdSAmdQcUwDz78MPN8GGomIIR/WWC2fK/N/Ge6KABSJw1hBrBznIny3k+NN
4Z2TLx/cPH3ob3t6swYTtjO2vVP3nPvAezbJgpxOgs5J7mrNAN3NPulDrd16jtO7b9p89oHtx00G
nNrNYXZF30dPPfI1v9SY6PGxrIoAbQG467S5wH+AudgKQIdqCQ6SOI/kmTnQyA+zocxiUC8ShRRJ
tB0u/bROkht8QPbJtBxPGWEiLPUWW9wNR0zrXNk+OCA3WKU65K+TrI0yHB7KZQYJt5H5csL30ZZi
P/lV0oQlNKBXHpio16YEYTInfGwC7VuVpLE2SzYaM/WTRxW9Xjk6Wc/UHC09Ohln52aTq1v9gKLX
+LMB+DMBNInWyOYl0ANZcwFw49mWccJcjdby95Zs+fujaPfq2vFXlx6bSlSNzybUsWd+NFNEqUuN
rSrI2RioWHjQmSJjrW8qdMJYpkar4t430Gg3WWWn1WN034FOTTVUjcwlpkoP3NvaM2mXghzvzpfl
EX8exty56Jgw0xk1UigWclWnQFUTGwusrTjmG9J4TJXgxSOe260NBOCxfGW+3aaQ9cZ2G28BM8rl
2wopUObZhuT2aUV+sasu6YGv8bH8EOgPxSmhqYlOySAaOEu9h9ylpdgFd7HFzaCiphK1U3w0ZvDJ
NxS9gshwrBn4hLEwjNO1aa1iVn7YW8eW4yMry9A8a0VbpgcE3uZ9Z42UczGNJ2JAo3qgUfOSPKFN
B2hiYlZqVbGcJhivSTcTdnA2WiHwXLcLIk3GHhQyxcbrNqfXwAl/g3UBEjBbT2aSkmK0r2RYVrhJ
rqjSBMDknfktvR9g2gsAwjRkYZLAw5mDSrEqfma++qQjEoZ507QRSR2Aq6OGXvNFlgRmhTlEOSQf
ycjYmd/qczpQuL6hiQG5TLsQzyDE6a1SEOapq62jG958EQlEUAnoNk54wamijePTuqSIGY43+2Kg
qbKd2Swg7Ag7GQPHM9iZMjOYS4UzIRa9+W97IvUHXmrLdjtATck0ZusKpfctVwQfb0CajwTTSDO+
HHqcbeoxffqxUYZJ/I+vW3e7u4+d29IawTQLvpb2I2/m5K6Te5oDPFYvbNbm0gW6+T+BbpPEq7cp
XCQWp1U6qOa0lpkh8rBo/FyebxbOA6lB78VruQCoiN9PMyb5wOvcThGzVqE+ALM+kMnmgSSeOp3R
ITdagMUbRtw21u1rdCfwjl39mLHp8+TwUEsuC8pcauFN6H3/ecFt8NyCdPxRoynzo0+FzTTNmTQO
Bt0d+hQKNTtlVsNKTMRy/jQ+cGSAjf7Dp4NGQFbWCIB1xiD4QMQW/QfYIgPlpyi2KhSMq54OBlWP
wd2n0Xsff/nV9z/5hVfetfNuf+f+oYZVy5LW+s4t5m8+8Mirr5x7+G8C5+/rO7G70997YmV686bB
RqBlCuSCBVo2gS23LG2sy24qcF26kjDivic3ERFel2wlKt3eaDEF64AOXfec6ZvY3QOiwj60ZkXc
hNeU+omqrggriOQkOjwQBfMOzlYis/tgix9bkOeBZesMWiyanonSxwDfEJUrR+MkG6QJ6GzGmLgM
Wqpenk+FJ79w9gYsvGu6MeOxgw+X7p+c3LrJrijFxt1HXv1YLW3wk6+cO/l8kBVu90l6JDDuaHKD
XWR05tjHbnjk1Ys3zKeYlgP8b/yXQLMOatk8n3Q2cQXQapCqgKpuwiKqVNYc/ApBb5f8QZabfteh
4uoVzZxhcF2Ttx6E1OTr35gzDptEvy9stDTaCVPmKm7QFM32DoUzUytT4OTtHQOXR3VhG3f0rpF5
y4HjCReN9TSbWyYfdFhMnPm2yRg3NxVsHMu/8DGsO762b6Og5ereQM8D7dNk7YFQGsAn6yJaYkdb
AFJNF/Fj48TL1sI09PyxHZt79WbMWOjk7Z19oZZtNx7Ylm1w663guXJmXzbcn187cevTq/dEzRvq
gPUvDDTXDwS7R65bttPINS+DI45Q1D6QHCxmVmhyzgNv3os/R3XBl8V5k+hoIHgMYkLwPv008Wi0
SESNTjSnEh2yNgQJo6YatwN/1jXYdI7ido/LxlloxYRNGIs+qxNdqHcbGCPS6TE41Lw1PDXi4PHq
0sCcOZFBI9VPoJcUvcvRxLBc/2q4FLwgvYwx7d+lgPR3Gl16FfYIyCyJW1rhS75a1ThsqqoBbiiH
Sot4YKpzlingLbKQIJanrS1b4Bhng04aDu5pO927UjPB4y2ZMWKQGqxbD+zdgWJHPxW2gr41ExUL
Cpm2Bz51+MnxSKzY94lfqu6Tlk5Ubetr77z33QROBHC+AHAWYL5Bic7TiGStrKClZ+frylkbhGyf
sQYDVqBssrO9B1SlKYX5xg2FUE9jRp+ywoGG7qYMsY9BW/1IYYWH4Xmd5R3o2WSYwao+JM4sZwxf
/5PTw4/uOOM0SXCNRYulMR0cfOL0s6tpul/zry7OvEH/E8B7DPRVvBoiECVZg3MeFhJSkejWjs8d
5njVbgY0l6fmFJpFLs6R1UFiX7DdCVAmerryMM1KKPepFWbdQaPH6SSI9ywPA8xuH28ydYddkghs
4RelRKGbHPbpTZIgchJOxPT8nukJf8gnmdrihTjcSI6EM2OTSZbXcfbdG6KspPPHXxKNXnwrESSa
xDWYlkw3l+57Ikbz8htuD4bIhpwwcxjL4bp7RzqDMTuHsJXTDiJWFOyCmxnZYOV4y798/29W6+wY
m3XaWbpw/OmvHaXptp99bj9Nj21Aj7sVO6Hr70HW3g903QF8oJTlLKY5g2mSLtJItcDDWITeZCZA
AS7KNOW74JsjYB2G2sYLouALO8T9bscmr9EH/iNbKBSbecS66gq+Iw69+LAn4goCm4ykhpJASq/f
z+y1J6elkBvIniu0NMFBZ2NvfJNgfDrpolUvUTTStCAGzY+GvHe3KHqB1g6reZt0/FEwsJzlH2Mh
CKfLahBjgz7NPuIpXlAEvZoj0awvM5k5Y2L0ll91VXjvIt4KNBpVY8LFVgIWJYYqQmVSVHiPMBma
sCViIMZbGrMTIB6BBqvgOOH0u7yAU/PgUAwiP2NDYLulLdrXQMSrsIb4F16DbDcqBi/XE5K+k5ts
pDV3SXMqV2cbEg0/T7vB11S5R2YwbzB1vxTYMXrSUZYqwIzFOrtUZ8kIB1qbQQd4AK9j+FMk1i3K
4IHCxFUrVrJUGyKpdlUubBU/WUtYREJkHakb3f2atdnJi3UXbva7ZN5EK1ZQpOEepNtl5uS9DX+5
y+s+9WBDPGBjba5CwD9QmmkcYs3D70FZ92DEaOd0IU89zXD9azjOoqORznx396/e7aCx4hjmpb1x
ssKkN63X7MLxmevVNToXRSmWbAbAc6jcZbdo7h9PQt/jQ+ZoSjSKG816o1Fv3ggfU1Hzw/QgwjpJ
QHrjg6WVDxrB5Es6jObW/hRt7c+DIvSGl9pfKi/9IUqZuZ76tjambImEwaLHarzLYqYbZb+96Jj4
mT+9MDsoerZ6UES1UL9B38BHKI6sQxlQRM6ib3Tfe2/PZ5t/g4qlV9Bt8Btq5k70m5nnCVxqBvs3
JXE8k6HK681fpv4DnyVrrrKiLTXD1DjeuwlL77RYLZKAb3pawmctRtFk0vDEYJveRI+hR2HsPrJy
2k00oLquwnPl0JTQk8xyNkPWk8optnL+o6CUE375Yi5CktAnbhY4hPC4Mw5YOkPSHa2FHOaYjFEU
EW9rcNQ79Txdl3Yn3YG6en9IiuuMWDD4mxNPNtJGY3q94vByshRb29n2zHqON9KgIiSbS/E2+GOt
cr1FZwx3GAVzQIM9DLB/F3+bSlDFKt8LmDajEJuanU1zx4lHqMJcKLtZlTXGcb1DYBi+scHC04zQ
1r7mhnde1xzVySItQITC03iZy9PS3zcx2ugS16N/SrmMHDaDFjbrueHCi/bQoTW7bzNingEaeRH3
WGsgtG1kYq9Zp85HHcB3DmhLdrdo/qBGvUqWiPgmZToiRzZmMup1XGNb69S68eF6zoCcW1vW5tpv
Q49ajB5J4fPrxvuu78R6PpvNtm6efldl/l5HbwANGojEEs9IdStg+sIkqonMrhYpmbJvkdOWl2lt
daICCnpKkI1+jl+VN2BmoGNq7737GlycSpzROp6mlxn8hb6xVcMtXh6PlcYGWgTsZgx2ncXDpG+a
3HtGLz1Spo0ic9MXf/fXirlhx9DYPi9f5rHTQAcPWamsypLNoa9OFM/F5/xf3oY6viTrNq7Ix+Ge
G1PbMg2HN3RPMMzvRzYZuWiifgghSievurGFtTSl+4vjW/9itMmq4/0CY3LFOj0s0D88cxGdB9p0
aKMusWLbiDTbVqysNldYvLzay6HoDSIrusFPZQcasiSjoXgMrCli0DWaAsr0QH2bAkY91tCsOBjj
ER2Htuvs32/1VS2/M57W79t1vGjXiftGc+Nht8kuJouth302nS6grQl4S79GXwUaFah+aiXZHwNw
RtS1RwCnnFcnElhehCQWV414VMNbccTVPDf8Vl2dLPM4+Y4OTOoZwyi21g2ldHXJurB5Qrn/wu41
UwYho7MK/kaTyyuMbx/IpKPD4SFL89Adq5+KN6aS0aYCOsbUIUvYm2/2025wjemDEwdGUk6j0KKz
crqUmzOY/SKfmOxdbzOXbgQuaWztSa7/fFtTYaQ7k+srx+gX0X/CPAxWR0hlIVXI3C8xM6pGWeTc
hjm+ZAYGB7pFN8krFdL5BLzZPIbmpnRQ4kW3nSywt2Sa4c3lMRxCf1XFouHvmencaNvHWr10zTw9
mGnziBb3U0VvladPe1VZi89cpP4NP0wF1R0U+XmYLAjoKkveMDk7eZueZjobdZipgJUj+zfsHkPI
4fE7FG/g0KcDViNHG7HdC6rlOTJ+FVx4q8/hcnvtTh+FZ35d+jX1eXwO7E90ETh4rryNohqA3XMA
2GNH9Do64ixURo78qXrkN/dnN48gSWfx9tDO2UHVefTCPBJds2H+PNpVvVPxnXPFaiePxOoLs4rw
s8UlsmpuOdEfq484nDyvrBkHYgXdUeNKk86RGlGsYYm42tmuRvCCrC7LDUbAQHSDV85mmoiIco4F
E156WmDjyZgO7oztWAd05Vi/sEwSfNkJB7jDKrVpGV68znaLJDiL8+ZApQH4R9T/ARoEL5UjKZPl
iWqIiNKYww2UaHze7VtrwNXsx0X8J/RR1Q/P5yoqSRuySk6WPFG2h0idIs0cKo7iEgKHj21p9ZjK
3LmTMKfVY9hc8JsMHhK3JfakiXvtMaiMZOuXdDQ2jHZFmxyCaaynvauCakv5ykPv2RuR6983H8f3
7K2zxj8w/2iF9fmgwCtOQ9YTxEJ2uPDJBROAiAyi3wBN+qs4vwbDxXVJLY1mz+ysxmaqvaNddDs0
6ayHN9lj2NrhrhAgW5HYQ/PBXQhp64VdEVvifQvg12zhy6DnDZRS2TegSaiSm1tA/d264ye2bDh+
+n/19mV7B7o7i+jRY5u2njyyecvpfx4/sXly/Mh15F7uUgm9hj5BZQg1lFqJtGW7mVlztkS+yVHt
Ca3VNEQc/uixwx2KW5dtvvf6qFUyeOKA92iigv4yo8XX2Dk80tvhFh9Ez5Rp4fLxdYIRiaKk279y
31mGdu0veBi2Cnv02icVp9Gxe6Jvu9ek+S4A/y+AFvVqZsSy6LzN7VhQY41FPJePiW4fQNaWamqD
twBIWWNHfiql3Hddc8St18k8o1tmdHe2LdswnDPyyFHaVAMY7W29w+mKd/UF9p8UeIs+WPrZheXO
9OaR1ftVN07Ng11Ey4DnWmq0raNivea5DIuyWLqoo0djsttrEkSnzW4yil7iT4wk8nGN0WaZyhzC
bDuPOx1W0Hxmm7Xj7nmuRCU+eRNFgXZJwkWKmoCr7PSobB6Ix0girLwEjrT86JcHbWbawng7fRHR
Z7a15Nd0DsXMDGNigst8MbfH2ZJZgR61xmGumbGwx+RU9KK3o7nQ6Y/1sMzeUMAesxm9bbF8V9m/
rUf/i2qc86/ULShAEzXdqXlX6fLyg0OxV/ypwyLnTUlGVkYch+P9nUnO5GUwnZIVmTbRrPEmPQIn
yvyVfDuLRZFNt2X/FYgoMZLFHsMgnkaO96trXa+j/wIatGlrz+WFVzXqVidIqYCkOcTxvMpOc0k2
9ScfTuTTERsvWo0sNxXRIdpgMysst8enp/VTrb1tOodIFkPSekSj9o+1tfutiSdDPoFnaTMNupr1
tT/Vm2IZB2038/VSrrvnYxm3nmXMGFkQ51bnCkMs+UX0gOr/xNP8woyUQylUrGLVGZ7s7pLKOe6P
rkF6rGP1OlDAYN6ibf4si1hR4XW+tJHmjG1WqwJwNnm9RExNvEEnsAbWSAtDRuTU0byeETZ/m7Zz
Zk5kWERzFqzl1BjJsX6fj2ZDD6UsIk3P5toQwxo4We/m5MdDTLuNYSJa3mNm5g38OOCyTcVlQYIj
gPzYTpCJxxZFc5H8obpTZHYNKxZW/Qb4/LHNFsVmZhCXbmxKkDybw9zNAGXlFjNviJgJEdLJLAc6
yccLaNyAaYMzKVhdcCQZCYbgzWaxWerzPpbV8Yzd1mzj5JzHyJgZduSnCQ/LqEk1EAaGNhjj7xPs
EPClTiasHh3DWtQsCsNwkpv+ohvTrvwtPkkgqxRYu4RxRtY9sAw+9DQdzbbc2huDu6lzbQBd8QzQ
ZxOhz3wakOWmmoW4WS+JEA7N0xxk3ZXT9nLWrGIR3/+z0y5CArbd5+4APjDZsLFZxzIFkbaILM1F
YkkfkMwUN7iG9MIWq9dGftza2NQMZPHZeUPOwvKGBjOyWuB4NBom+UfF7RQH9eLfnImWVwXULJnR
Ogx3nLKJ7NxBnd62VRSNd7rsCM3tSzUZx10Mb+l3WsouNU22bbjFrYbyXlF2hkffBNr0lPdeky0f
lbwhXshJi0sFvGhu0K4oFtlhiMuCZSW4VRYXsENzU7wZ0HA5fEE3zQXCEWcAnMTmRLgBjlqcYU/r
k/bfO2N2a1fGY7Y3/0PArtCzdgCYRJzaPIyY4VWrLcayfdC2d7UdLT3RROC3w9zejB4je5ezJCWa
J/DNrTuQeQHdq277UXPijjKC5f08P51eb+XqOq+H2HEoI1utjAVjuwAa0JU8lzZxKNB40sz5wtNe
0caasMkRlK3giyb3PmfXm6QkzKp9FTCcyMHBxpFve4x+KQlO8uogRgDbwMxO5MKfJ2s1so23q+G0
auFtPNnRrK6KgUHopnMk4M461A2DiuO18XG9EM4wzDmQEXPMp9f7wBzwunOCkAkLenTzOpmR13mW
rzVFszrayNwWGe2KmR0eMzYYsNnjCK7ZYrxNEHTZaHCQLM1Q0zMcdQH/iuSnZEvEcqED/+pPTvp1
SvPddlIXyzCqIMUAIrLPmiNWC0CiCUh2W0T16fIqpMV8bB+BUBDmQ8gwBMLxcXRzQ9dgEMAThNuM
W9YE54Azx7pGI7cxRhrAM61d4Sa4EDiWU0fRUyhOdrdG1VyXmtokO7O0ueJQ/y3RoE2w0QBNXfmj
y+54zpVgeEOr066+98gy+DCF0m+pj6J7KSOpt7KqsbkMVlcGNKq2y949W2fVUt7pWfotqbNCAyxb
enGZyQpGu1J5gKk+ikEv4t1UGDwjCtFarognxUnxYqUgSeHnMkq0HFOj/PaE2dmTA2XYelK0mI3j
22/dLpgtQqDFoWM4XfAd8d41RfSL0ueYVqRjN+0RhP36fau3H9et0+vXGOSgZNfHSt9CI2jtaH67
Frf/Av0K306tUPMR6q53mCx7QVt+jcdqnB+uvKFUnddGLQosxCuZidmfgSHwI9R4iudPGnUHg5Kj
v8uXF2nJaLJv6sgMD9oke4NB2bqaNWzmuE0GBjH7JlsV0abndNGMu4ETEYfaWIVh9UfGQOfQXveo
xeqxxvtCQdmgt8oJX+wDepZ1sKyQLGw5adW7BZe+Mbv1ToHVfE5qN/o+joH/3ajuqq7sU0+jDCmF
UXjAk2xejIMJAn0bLwIiRLKVP/Zu29bbs337u+4v1lt9OJVOp7DPWl+s/Yr+Y9fQyI6dw0O70oks
6zWlWh9tTZm8bDZR+7WypolK+GZqI+HDxRYRiCBkQf+p74taW0dmoYoE1aPOFigAeEdff0TyRUl+
pLu9QJS93/goyz7M6+9i2Zs3KBDeg4mNjrTFWMTEbIGin1NSGSUG+jTVEiUHneHmVbew7H08fYH9
7rquCOh01TwSKxjuWscobKPVxjiZT6R8HMtIZKnBxPCMgRs40ZWe3m2U4IuJKFOJYfnNj8Iv3YYk
64C5mJ6ZBF3xEW1PNtEWmsbo6MAfKT2BtpZE8hd+l5n5C/Qt/CTVrMY5tVUjaVZzbOexokNzgmn4
q+oZ+I3qG38pkpLNkqGh0ZXU2c1hc4Lp7X9iXywuSxZDY9wVbl/T2/Hh0ZWtzR09k/kcpxRv8Tok
hz4S9oqeoBI11zM9N45sedpnMdh1vpCnbtmKjgN9u55Dm1dtbm8c69vTuWJjV7LHHu0YB7gT6Geo
F/eVYz2AuyIx2arP6+1u5LHb3O6n7B7ktdtcLvQzp8Pm9Vgdnso7UIjs9/53oEGQSpDdr2g2gzpX
EOBHWT+q7MSlgjFzIegwR7VsYCzMIefUwGSDqMNm/VjLviO3b3fmEwzNY5gXz6bBcaQr/cMrr6CG
Vy7e+vTvnob/0cpV27cJRluXSTk2sfEQr7f0GCEqWLuttPEVFH7lldJP3nvHs8/e8c7PfpbIVYh6
A41iL9VEDQOu5ZiyvL+tOLeKoEUGlSWESiaTB58I9LCkK3vxr9iDcQ64JchJ/taOpihmcZ1k4lg6
UO+y6znW0OCNxeKeZRwE64gWRAOWOJEXWA47FK9Zhz4phqIBO8uKRkVJpepPtQoCEwQVoiT8MYvg
xrptOR58HMRgjuF4vQHCD7Og5dNzVBytQEdBn5PqOJ4LgH9GzBSJFWq+vTDMssOMcY/FaPRuMl6o
+Yb23C+K5wT6TpvZFDqODTXfNF8oRGXQ91ELxZLcTigfsqNHS/egZzP/s2UGzjOz803ywcuoNWoG
aHb7zdwmGMfsvpLYkttKgKRaJti6kCc8gstEtmKuuiflxdxIzGTjOJMp3uTn4gLvtOhEhw3cy5zH
n4FQweQS2kXPRCrmMnx7HrP88sUWJ40ZA81cF84YdPyJiMRxdKBB3y8ZWF1rixcDn2H4J8GvXCh0
ysStDbboStwCVgLadGIKJXFWrdRQVR9oseQbOt0bOkwJAUEIqLJ1G8qBbdJTlnJ1JaeKAamTyRRy
Jw6tXHFkxVODyeRgEt8+2tYxPNzRFs2tyeXWaPOs1Sc+B5JlIiu4oXyxukrxK6UzP9EKFVtaWiIf
aDl/voXUHlH/jVbAmMRyqKteikTzs9Vz1YVrhUrtnN12fiRebzJyrKjTs5me0ZSfxY1dm+vD+Shn
rN9Z6F3eGkZxo8KKgt8CcRewOkd7ujYvi6d6GJ7b1pbuhl9w6j7zBurv0DCMT/ZnVQqrZgcFI1Xe
HeUor6ZUbS0tlOob6gNWdpUnEHC01BkZeXBNIVhPs1yifWh0dESWzKDR6laivdGcT28NWe0Rl7cd
ibHGBp8Sk1k21ziazcclq9s6pPHvafRl5NPWGhHxSwg1YFQkvlPCm0RBslhx31ksPa0gbDKJRm2v
eOnXarw+eEXxejymHtbcC8tlh+69ziDLhlNm28IAPvL0JQJ40KhCW2gnNjcFMDMvlAccOmYeR6/i
8+pKlkVdnSFzn3EomidRTjZWTJRNXds/yCuZWLjgMwdpSZaMimzZfe9Dd27xMkw8ZsItpeZ4e3eo
LhqTZIPFApTrbHkkeGjj/gMsbaJ53qaOO0Sdp55HHKlbLS4swzpfU7e6ayaCiLcDHmkHIopiNsmY
KSf84vlv1nl1lnRvwhOQHHWcwVzniUn6YCKatZn0Fp/JLEcNnOrPA8/bgOcCmlav1KfaF8k4v89g
C4BObRnjsdFngU+dva3w1+IzohVfDzjBBQBP3MPac/+asDOYNhN1AFPA2Ik8BsF+7AL7YaAc8/Ki
WuUbgfqvB6c3jQ1v3NoTaW5KNSbS2Lu6d2DdVO/Aenf/vpXD6ZbVmmynQIcPV3R4kRQIQnBBFDdA
XvPtKKjsTV6j0bLHyAyz99d8+9H9Bnw8ZDLb7qSFc6JY802t4XkNv4TPgf6OUrvAKwH3EYXpt6AQ
my3XkmYzl1FKCopFjSaIvudpznEves4ulEZd/qXpfGBa5Dib28AKUY4LGTnBZ6UR05DscYP6tvoN
nPEDev0P9KID/0+Wl/BjysUd6Pgl5+Y8azigYwzyURAEG8sapKQVDpvIeRPcU24QRU7QicgKQsaU
fqengTYFoM0vy7SZvBLaXJ5GvaNMB9PSdPjqWyvdy8L+vy9DMdNUFPD9vopvnjpawfdKNbTytnjj
U2WaLLs8Pf/bK+ATrkypB9/aNHz4iplFk9fSbxGCGFqrpQzPlU+SzaazhZWOBUWoP1y0ljIxG2Ff
qpYShysqk9ZqDukxteZw7TWsOizGVV8xmyF7Yq9JBWL2eQfDSaLRYH6MffvViA+t0usMNsV4s1b7
/Oejg7p7kPA5f40qMb/8nIl9zGwwihLHvH06/HQVI91sVGwGXTUdOq45HcDiBJCNB6OPwteGDsfO
OOxnxHdYzCekt0+Gx0/J8ikjHtTrB6vpMKzSYfu1pMPspkGunDxVc6fXhiTKgXqTYDRwotccviFh
M4sCyygG69snz+/NBitvaAhaZZPCGSxFAzhmTJlG9WVe2XEtqbREwuDakKlf8WC/w+71fEbxIvjg
cb99Cn3E5XQE/DbFV3mf5aE+8FtXUpvVvEVlX5IcuQSRtDynZi79aDFiqeVOtUXegj/t9yuOwO6l
iaMPxtvWtcUCnI9ZQCAj0PVYDZHwTz2RiMddV1dil6ZMxq/PBuKtrXF/RrBNGRdSKA6E/dVcCTie
+cHMRXpU3bd+J6nUvFZVwmW/QF1PcmhEBRKX6z6BppU0IZ1Vf6vWisEv0Q2Iqykqdo+M2pcqKrYq
3/QGEoCdyT+dTE5vTpGi4nC9zRCaCpit/RE9Zy0wbGfGMSJwmA/IPsevnY5OcJ2GgwMhA8fqTCu9
Oh0+T0snSJGHISiaGPZyCo+X98wWHk885OANodMb7Rasq6xXsrQvgf42JULkR7ZAl36AeOfLAZbx
PNRj5rS6dbdat95DUaza4Osti9cJc1aFTtnZ2Ald33J2+tyli9q711j1cvNAgzcoiYYYqIuod8MY
27Xzs5eocrcjl6QP18fzNrNgDZgttli5BkqtLwe7vIHa/eeqMJerXJVrWm3+SpXHcq0qz/GBasfl
/xf6oCoX5prSB41WuTLXjEAvVHk0Ffp0/Fn5p8q1uab0Ccx5ONeMOqdrHB26TJ96lT6H/mwUWsKc
X1NqLV9g1a8Z0W5dYNyJ7M38N6mvB9mLqrujLqvCfp6uuXS1/WCV/ricyvv5uoHU/++8QvhqZf3S
8H2rSnwvC75q0QT4yJ4CIptXAB9dK2uXhu+GOfm5LPDmywaBrwtkg8DXddkQLs3rl4a2bQH/XhbQ
i/MmFSv3i4lR3WTnnrqUkH+rrjF2de3UPq93zDTPT1siFo7/+Np7Vi3SP+bdPP/u2h4yn2Fd7LvH
WgB0K8356j543c7aNjLPw/n3qZ1k6sZWdzdIOg1mtZ4dYq5Jat+1rmiPLh52XatC99K3F4+8rmUB
/PcWicForSYeZJzUxDdcsiq+WvUsVSE/WqVxlqyWx0/W5k6uBIbqbMgSMHyxSqssDcOva/MWZRg6
LgOGahWyFAw3zmmOpUF4dl7OoAzDsApD/tIwLJEFWAIc0+LctSRotLBYvF6Gr75Mo8KlIVwqAl8C
xPYF2mtpwj23QGUhqo8yoOfQndqamsLH+XgxXlSK6Lnz56MXzkcfeih6/gLa8vCF+MMPxy88FD//
sErv1/B/4OcpJxUkc4748jYIPhwrbxbKqhtbeKTpMz0pvCDo4WeLR15574mNAwYL6mvrevX9x9a2
GeR9pceHbtp5d2kZ2jZ4gOCFHxve+fHz3+xYbRIm02eXP/JqcRSZ7i8NrTp/37nS19ELywlKZyu1
aG/gn4AMtJIVvquudKerZPTKqt6/VCW5V14Bj/k5kb5muFTJ+pXh0lOlAa4Cl3VzqqGCS8fbxAVV
6Ywrw6X06JwquQpc7PN1jIZPvYrPxNvBaAn5vkLsvrZA7K8CSWWBPsBajTnw4Ki6/+MaVJnXmJ63
XXH+nioWvRbV5+hPNfZM62XFgf/WtrjfWekNHJ9rQ7NYPy97g0P1OXNDDKLNacfknlsLdQOrGMS8
d2pl3GptiMLp6WRhiHQxarSQgKnicBKvg4t2r99cGLeGGGzG9jtHJg3O0l/PbyuF1FpkUhu3ddG6
sHl1pmpTWV6dKz+aLddQO/WW3U6SoOrWVdB6WquuammeV30ace+5dwRzjIGTOAu2Nzs9vkR6XVve
LrB62sjm7J7wyrU01tEiY6Zl1NWebu9HHyj9YH61UqU4dedYccVEXm81G806M2fF1oaEHHMqgZ5U
+5gshCSgUHMs0tna2cObDJLOBLNoRe2D6f4LZbl8Ez2Gz6q15CuuRTV5dRX7VVeWe2bL36+sxhz9
vrZY/s+BX9XOmavG70ezO26uEL9v1+7PqeB3RsVv1TXBL07KOcKAIxhz7qoxfGnawBumjfQenV23
h75CLMeuNxqvNzwvSc8b5nDcruK47prgqO1b0LzYihN71ajW3RD02gy85LKGbghHLKLq414hxi9a
vDqxxWV1BypuL/i9Gt59Zd7deC0wX8o9vmrk6QVbYa8Q8wMLNs5W4X6fivsYsaVvH3drxkE2HOaU
ufWsq0a7aV1b27q2pvLi1ZWhjO2tK1tbV8bL61QV/+hN3IoepYzUCMGW1CyqtmZux1015moqpLK9
ZtY30ioOII7Qlj80is31k3b8WhCT/QEl5LWwwYDXh7He7Rf9Snd3v719VXaV9Z8M/GBrOBvgRNR2
eEO6vtBcl1l1vUm37rDb2uhPtXEH8yLDmJSsM+C1vr8+WBf2W528LJnrzanW1vakjRthdAZnR687
Suu5fX3eaCbW40uwOkdUJ5k8dcubRUarkY6oPTaKFKUUZ7tJLNpsY96Czux6zpebadJn49jCDhx1
Gx3zNsmtHVF7b8zryLFS9s3fPFfRNafBXpC+F7kr6HxRbfbesgtG46x5u3Q/DDQ5r/fL24CvesPn
W8H381nz9BbwRWrN0Sx8Z1T4ClcAX7HG7LwlhN+dNuiEWfNyaSgfr7YmFd1yGvSqRsPeK4FyqezC
W8FrWFgxcEmY/3qhVsQzJbWXxdnL7GVBV3HkJXpZ+GZ58S26WRQX9CEidf38ZcNTzYGXgOf8LO+9
BTz6ebyHKTPAg4D3gqRa7a3hqeG4S0D0YA2vXRoqdLaG2Wh1rcUIvEZo1Ho5s7YEh10Cvu4FvPUW
MH5iAXNpPQ6+DrGQkTxBo6htiy4X7aOqJ2kQPR2Lk5CUJHwgEILXyb7OxnaH4ljWOoY69nW0H9q7
/tAdGzti1tY77fwtm3cIxp4zzYcE4TtjRzsmM+sbG3agbYWeT2647cGDW6dvt28eHtQ7+/bpJT3d
mW7H8hxv/QZ8vn5q/TXpGrGoy3dVrSQOLubuXXV/CfTH+Z6fpkNfVvfpK1Rk6Y4T1QK+oPvE1+ZM
zII+FOgP1aJ8+eNVCfCC8dg5k7FwvO9Ui2plvDPqeNFLjFcjoAtGtNREGIuMuqxW71fG3a6Om7zE
uIuxyoLhP7sYGywCxVfnzy9ThqOvTO+mS0CyhDJYAMw/LjQvCyE5uNCm0FQ7FUdfQcfU58a41Ce+
VAApVpLsNk6xh/K/s3jcVtntlskLPn+2dOZ2d53HLVvdHyB/4HOePI5FpfM/opfRZyieMpFnTvQg
DaMir3lvxdl8NxeLl58Yp4Cz9+5Ph1vyfT/5bF22u7UhPH5iS1c6Kki4buT0dDEV1ls3XIxunhz6
TKlh99Cy97d07Nt60ltERiHXunfLaVcLEsu9fV9H/wW83EYNvZ0OE8Uq2bqCbhPOOam78r4Tv6s1
sNcOlyq5vQJc/mFOoq8cl1drjXMFlzOAy8jbwqVGJ1wBNq/WOoxXjtFobU5Cw6dPnZvJt4XREjJ+
BbgxC6X/yvG7cbE4HGv9H4AHe6jxt90Borro7Kq7QSBuli+vujEE3b7Ad7SWSujv8BeoPJE1xb50
l7C5VpXVzZos8zozPTK/A1N1z0q+0qvp7v0JqyRZILQeUlszxfYX3TX9l1rxp2vbV76ktWvat/z6
uxka+T9pdxqdO8eHd3pNwJPaXPWpc7X+bc/WUpufrnrmIgvY9KonEP94Ibcirdcf+qj65LK38rMv
4U9f2nuGccSZi7hJ7R8P4xBfOL/IapX6wX6px1Lcdb2NOTX/0RT36PX0o0s/n+KuUdaz+gvzn1Fx
2ybGKuz53BIPqqj0PkY+8O9J3yd+sWUp9cO8To9FB/Idnd8Qb7Vej3fNdcXboaAPXvet+b7u2RFs
EdYhS3Uzv39dy1WeD/AH+hdAvwnqOu2psovt1itWtustslsvO2+7nglVfBXaosYs2l4AtbEVvuHp
U0bGQFvYqp3SeqW9z2bl9IxVfUgRI/BOc1e7Q5Dtu3d51U162l7prlzL9me+/8PP+t8Rctd1rjza
FzDGuw8OF0JWccF+6FdsPMv5E+revMSAAO+JAF/ZmmeerOyHpj9/4fxX6Yv/hp7uFsTmdft7I2Pr
+pMmoSoP+C30KCVSOdLdtzjb6gJcKLZ6w7NdLSKvPAeOtAks90KtSVnYbScHO7pale5Uphf94S8t
woblkbidExPHmtco7vUtG4+e2tSy2uVelx6YpNmf9kzowSerH/zO6LHrBtOre3e4TMro9XYv5tkt
yVii4fCWraeSDYn0SLOFE/x6TlISBb+6X1V97gC9GiLv9it88gAdz2UVB3kALM9d7lMIvn5GOmG2
vEM8Y7+85xGgZ06ZyFo0Np4qx5ekF1sck15s7VfWjY1WSP+OjMKTx2RdVm+2tnmByuV0akPUvDyC
tq5cr64rb782K8tLbpV526vMZxasrl+TteYXF663a73Pge9UH/mqu5/LVTx4lZ3Q/36WJa+wJzre
NJ831Z5VwJtZogGupmtVLY9eRQ+rF2u85cvsaIUfreFZNPOHmbvQH/F7SZ5azhaKNf1eJAZQyfoR
aXlTXq8g+kudHmsxEssd32rz5nYnc25B0rm8JpddMnM8QgfBi3yHL92UKvjq9HpGJ9bZg4aCuJZF
79nWvi8i2z1y3pII9vnCPM062Atv5pojZknmpUQfyk8witqrAr2EUhCLgOuHatPOvtoo4aVqhMh1
r8F1ZI2GkmsovLxGwufTgWpGv0etMB55skiQuL8kz4w6Sm/Sgt76VateQL+/S6+fmNCXn392F/oZ
9TM1P1DTgeb5iv8012xG45cJ9LfIie+DeNuq9tWYv8p1T81iFb6vdvkJUVtmIshA2SgzecZ0ORGu
2Zd87tXYap/bI+sjrfUNtpXtroCJNjang+NqP0v0N2gZ3g5XUoum125dLEWCswuXOgEHB/oyWl3O
QdV0pwDunlu46J/1/T+5eM8Ky/z+FRT1PPoN9XPS2ywfsodI7/2ft2jH6dfnjtOv/8mpHi+iH1LP
4a+TDiVaVTORMNWNgxn4i0C6P2vWLw9ZPA70w7Z4y6hJZ4xk3T6E3Satb2QR/T1c/4J6vbbXJVbu
mgb32lt1PX5h0etTM7dQH6d2k+tJ453a67cEmtDsDXYvcj0m8KMtKvwR8ozZ+RhEFhxBqSqgXr4k
ggsHJOP9PYz3Qnm8BRhHFhxB5qoxHrwkQRYbD+iDVqv0gfGiCygUWXAEcdVEe/CSFFwwIKIyM+9E
z+AnSZaOjajl7flwVXVZLlYpebRn5h6YHbGR3iKICkYcUmTKoDidimEqElDSSiAyJTqcToc4FZEc
kTP3nD3uGR8LOG2y09+/lbX6/VZ2a7/fKducgbFxz/GzKk9kZ/4CfQpgWFHpmmMvL3mXh5JQ7YFK
Xx0V0nxO1aq5WAX02QP53I+Sij+YTOuSSSOBxyHNfvErcCq82phM6tLJIDk1+8WPn/RZ2C19krmx
wdc76LCNLNM+7mMtfr+F3dfra2g0S8tGbI5B7WPfFtaiygb1TbQC/W/SI6iipe4+Njl5bBL978lj
ExPHiP9708yb9EmYX0F7AjU71zkgtOhH9JvK06xz5Q8XV5Q/SOVuAbVvMHpq5jVmHN8PusZLJVTP
YR21hXitEgqXa1j5XBpDFAG+YKYboys+oSeShwr4//qGtg/5lt+/fIiVQs0hE8eZ4E1iSx9e4gTd
s9QVO0v7RSs6L3+8frK7e7J+8PjxQWeqGAoV0s3pfChUTKHcUmdKf1jymtcvbhEF/CGs8lmOilMv
qD1Y5nXReuFSnbI0m5WCa5/Xrr1Uv5baDi3gI4zNvIa8ah8Oild7cHyh3BVD62Ch+hG/hZjIj28n
3pCc1bwERQsZSRDBh8ANDnEORX0Hby9DnEBt64DWaSsCnm82Bk5FwZa1ffhkT4dBoHWktZ0l1Fo3
ftiAxmhWV/oqgn9FltOXfiAenAi3JWwiY8QWp0Fge7O3XzBOMDpuENMdjA7dfOyCg0EjTeD22iIJ
56mjjJPRRXXw99htSsqrMDS7Osgw2PbISfBB5DDrUHVzgrrICPgpKk9d0DrzaLaSuKlZ1UstFBVO
eyxtOdRVS6htVU5+NJ6Lh7X+u9pDPsljcxb8qpjr1rZXzu2wraR6Zvfbqr1EF/Sv/UfOHG1oEBgL
MgtGVg4h2m3TGSUGm2nO05Qyc4xFBp99ueIfhQDXr5jwCwymI21Cluc5OdoR0IO3iERFxnQsJLcz
iJHsVsxyiLF6TKRdiTPmodMdXp6JNOVER9CaYRmry8pig8UOPy44wgW4r00R0J4/WnhnCMLzppyR
Z/U4mWcQHXPwlj8G3TLCjNbwhcEoJL0m474bLHtllskPn+jl+bWt43VOjBkTjTHJfWKrGzd3e9fE
3RBlqBc2rj9UZHD/huuS8MVCY9rpec9hclv15+QItmh83Q5c/RXNT4iWnz7/c3WZo/ysErJ/tLxf
Z7GHkpC4vZLQWDwRVakAX+TUtsoDS+w7x7NjHsmit+UcR3jx0KYETy9IW1lCt4q86FYfA5qsJGsO
VbaJ7hjJrE0HbXZTOPhfBlk0saP5j81P2jyTsovyd+e3Lscqnr8GPAdIZ43LfSqLUnnIxCI/LObL
WZpKZSba8JjEiu4AAN2ZnLdh1mPfOpptcOsYev6OWgirXHXxrI3jjI+JPNquU7671CNcbuzPrnS7
mf7Vpe75WP/YyHc/nleCTWt6GgMmDowT9f8BUUM98QB42p2TT2/aQBDFH8YJSg9RgnqKqmrFKakS
ZEgVYZELIX+aUynk0Ftl7DVYAS9aL5HySXpvT/1WvfXSc8+dHTaERklbBeTdn2f3vRmvxwBe4hdK
WPy+lt45LmHDg2MPFW/HcRk73kfHPra9z47X8Nr74Xgd2+U3jiv4UP7ueAubfs9xFRt+QW4lf4PS
nLOz5RKqpZ+OPWx6LxyX8darOfZR8+60azj2vjleR6287riCL+Vjx1t45TcdV1H1P6ELhRluoZFh
hDEMBHYRY4/mBkK06Np3HKK5wkcr3FrhkKiDhHyHkMQDci/IV2JKs8AlcvJXlHHGY8RrCeq0ZpUT
+gv0l/UUfCdplrT7xu1dzXBBHtZnSpGc4oK0VhXRpWnHiO8N6yWvG96fcE1We00xhfTZlaOrZrc6
G42N2I33RCNshfs0hk0ej3hs8RiKTqKGUgxuCyOnhbjMY6VnSkdGJnUhOpOJ6FufQvRlIfUNRReC
i0hHU5UnIitEJLQcZWSgZSKMjhI5jfS1UOnfzEHP9vCk0LmzBZ/xCHM6fbsHfTmaTyKCBj1fgDap
T3GCM6aHPgcP1Y160O6cnpy1lwkOlob/IX9E9R5XOOcmW5TTo9cjiAIXCXBI0S6/GLncV6eWbZL4
6lzYknoDEQQEwWG7q7S0sXqz+dySerQmabXghDZtyj1m+0vxOOaVx74xq4mJMs4nSKmccqFJOW6e
6FXbeYb9hlThvUtOs72L+XuhV96byKiQ1C6p1MIoYcZS3PdqIWOTqVykSvNKqnKz0k+RMTobznlL
rkwWy4K76OkvD3/26j9a7jfs/gukeNptz1WMDwAAgPHf/Z3O093d3c3hQnd3x3Gc7r7jjNl4Ymo2
TDtMd+d0d3e+8p9n3/Y9f/sE/ONPksr+x9ugIQKSCZVcCimlkloaaaWTXgYZZRImsyyyyia7HHLK
Jbc88sonvwIKKqSwIooqprgSSiqltDLKKqe8CiqqFGxXUVU11dVQUy211VFXPfU10FAjjTXRVLhm
mmshQqQo0VpqpbU22mqnvQ466qSzLrrqprseeuqltz76Wm+ueQ5bEfyZb4lFVtlkgwT3zbHcdz8k
Wmmhkx77ZrXNfvnpt3W2Ou+sbfrpb6kBLhronAuuuuSyK94Z5IZrrttusK+Wue2mW4b44JN4www1
3EgjjLJGjDFGizVWnHHGm+C9iSabZIppptpvrRmmm2mWjz474I7nXthhp5deOei1Nza665kHHnrk
qXue2GW3vfY5ZY8kp812wgJbnHHEUYdCAhb74pjjoeFxsTF/ATXbcQoAAAAAAAH//wACeNpjYGRg
YOADYgkGEGBiYGRgZngOJFnAPAYADlEBHAAAAQAAAAoAHAAeAAFsYXRuAAgABAAAAAD//wAAAAAA
AHjajZZNaFxVFMfPfCTvZRptE1TSD4OLoKJ1U8SkSZASps1E0ySdfE2+igqKYAlBsuqiuBBxKVm4
Ci5chEAlhNK4CAVFZhVkCMYOE32U8Da+RXhEeQwyCM/fvffNy9hUKMPJvfe9c//nf879n/siCRHJ
SKdclMSt95cXxZY0TyQMRb1JfPLhp+qZmBXvknq0JZFJas8++UxWZF02EnZiIDGRuJM4TJ5LZpM3
kz8mf0ulUwOpW6kvUn+nB9Ifp79Je00fNN1vzjQvNa9YYl2yclbeWrJuW59bX1sPWO1Yv7LK8Xtk
/WO32xdYLzF+ZH9lb9i7dlVWWs603G5ZJXZ3uCeXwz+lF+vHmuQNeUm6pVUuY71YP5aQchjIC/Iy
f1/DLmFvYt3htvSEhyBsgrAKwk9ylefXsEEsF9Ykj40zn2CcxgqhLzNhWWaxBWkGeU2eBakKUhWk
Q5AOJMuOq3grhHeZD2Mj2Cg2iRWweZDSrAzmfOjJAmMmwjiETRWcOoavMfIN+8/jGeAZ4BlEvGvw
NjuGWL8TR6/J9QYGY6xvxLn5OrdJnZ8f5eeSnytzPJtXeTKektPhsrRhXaEDr12iOCA/AtEHyQHB
Yben88o0MDfZj+qYvo45iZepQEAFjafKT71VDFxdjQ7e+LqK1xgHMeU1xNrkVdO413k2wlzhj7G+
oavkk9cBcXyZwqZ1vAPy8sjL03FVTiq2C6oLkscuFy9Hv82gFQetOGjFQStOpAVfZ2jqs6tZnpYu
FHZSWavoweeE1jihFU5oW59AAZRZHeMXlHNH10mdm0d+HjG8OCdzPl7EyH0iV1e/ucCJuER0ieYR
7WfpY96Pqcqa+jXqovaUuqjFupiKtV/TdWtHC8NoYZjIFXmVna9jF7EsasmFO/HpmFN3QNwByQXJ
iVSmuNekBQQP7h7VCuDvw9+Fv9F0Nor5zInTUH3fE/7Bjm12bOG9R1zTH0ZZLiyzuoeDWINGK/Vc
PZh5esc440TUWUYrXtwDSg2dnHArOX8pZzjXNsYXuTE6sa7wB7h5cPPgdgC3A3lLnb++fZq5Gdv1
DXQFy6KDHHuHqdkYZ59nPsk4BWaBcRabx2eBnN7Dv4yyniNCEN8mRidu1NumY4617+hKj/NedeIU
4zQ2g+9c1Gvqfnm+IZdilItPLntE2mrIxSMXD96qC9fhvUq0KpxXQb8H33UQj3mebUCtRKhFUIsR
qg+qD6oPqq+rU0ceBC2HKfSx8Fsi3CPCBtzvE+W7/0SxT/DLaYWYji6DeD7isQmP7+GxGfH4/Ykc
6t+Ivug7YTg9gNMayGsyygnm4TQBz2n6qgDmTFiK+bRGve+C7ILsguzGN99wrMd6zzsnvk8dOm6S
u2Bb9jEL7kfwPiKO2lXTXVIm5j6m/Hxmvp4FzAK+ILOwXGAsE3sfayHKCDfLCMiLMd4VWYb3IrwX
ZR9LyZD+eh3jHTI71LMKswpcDI8jeATRtyCIuTTFyLOPMTQzdUcofRWj2+cvalIlpq0Vm49ul2nW
BWwG/1lsDk7zjObLahhlQNoCaUtXtvEuq6OUUcA+ZsWejV71t3bDdz2I985oD5NxC/vvsv9u5Pl4
FFd7NZ/gUN9/DrWvcLodnG47p9seKUvdRKoOJXaV2FWigyt0sLoHinRtEZQSnVskTonOLaO2Irop
wq5CfStUv0T1i3RwSR7y7bBBWo3usW36ZZtdm+za1Pos43EWLmtwaY+59Os76Ol5TGoupf/hUtFc
kjBJ8RP+PzjF/1lt/JJ0xds8y8owN+eI3JRX5CG665EKv95/ARVjqdsAeNpjYGBgZACCY6nbT4Ho
Lcon/sNoAFH0B+oAAA==) format('woff'), url('https://bitbucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/AGaramond-Regular.ttf')  format('truetype'), url('https://bitbucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/AGaramond-Regular.svg#AGaramond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
	color:#00ab84;
	font-size:40px;
}
p {
	font-size:26px;
}
a {
	color:#00ab84;
}
</style>
</head>
	<body style="font-family: 'AGaramond-Regular','Times New Roman'!important;">
		<table width="100%" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border:#cccccc 1px solid;">
			<tr>
				<td border="0" style="border:none;background:#000;text-align:center;padding:3%;">
					<a href="www.perfec-tone.com"><img style="width:100%;max-width:288px;" src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/perfectone-logo-white.png" /></a>
				</td>
			</tr>
			<tr>
				<td border="0" style="border:none;">
					<table style="margin:0 auto;width:600px;padding:0 34px 110px;">
						<tr>
							<td style="text-align:center;">
								<h1 style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:40px;">Appointment Scheduled Email<br>(Sent Automatically)</h1>
							</td>
						</tr>
						<tr>
							<td style="text-align:left;">
								{{email.new_html}}
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td border="0" style="border:none;height:26px;background: url('https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/perfectone---pattern---white.png') repeat-x;"></td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<table style="margin:0 auto;width:600px;padding:89px 34px;text-align: center;">
						<tr>
							<td>
								<table style="margin:0 auto;width:420px;text-align: left;">
									<tr>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/phone.png">
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											(242) 603-SKIN (7546)
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:26px;font-weight:bold;color:#00ab84;">
											//
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/phone.png">
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											(888) 265-4792
										</td>
									</tr>
									<tr>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/mail.png">
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											ap@perfec-tone.com
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:26px;font-weight:bold;color:#00ab84;">
											//
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/search.png">
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											www.perfec-tone.com
										</td>
									</tr>
									<tr>
										<td rowspan="2" style="vertical-align: top;padding:4px;">
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/marker.png">
										</td>
										<td colspan="4" style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											89 Mount Royal Avenue, Palmdale
										</td>
									</tr>
									<tr>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;vertical-align: top;color:#000;">
											Nassau, The Bahamas
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:26px;font-weight:bold;color:#00ab84;vertical-align: top;">
											//
										</td>
										<td colspan="2" style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;vertical-align: top;color:#000;">
											P.O. Box: N-9973
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table style="margin:0 auto;width:420px;text-align:center;">
									<tr>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/facebook.png">
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/instagram.png">
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/twitter.png">
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/ct.png">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
{% if email.agent %}
{% if email.agent.signature %}
<div style="margin-top:10px;"> {{email.agent.signature | newline_to_br}}</div>
{% else %}
<p>
  --<br />
  {{email.agent.name_public}}<br />
</p>
{% endif %}
{% endif %}

{% else %}

<blockquote class="gmail_quote" style="margin:0 0 0 .8ex;border-left:1px #ccc solid;padding-left:1ex">
  On {{email.created_at | date: "%b %d, %Y"}} at {{email.created_at | in_time_zone: site.timezone | date: "%I:%M%p %Z"}} {{email.from}} &lt;{{email.from_address}}&gt; wrote:<br/><br />
<!DOCTYPE html>
<html>
<head>
<title>
AGaramond-Regular
 - Web font preview
</title>
<style type='text/css'>

@font-face {
  font-family: 'AGaramond-Regular';
  src: url('https://bitbucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/AGaramond-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGaramond-Regular';
  src:  url('https://bitbucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/AGaramond-Regular.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAFHEAA8AAAAAp/QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABRqAAAABoA
AAAcLq1JyUdERUYAAEwgAAAAHwAAACABFQAGR1BPUwAATGAAAAVHAAAKbrQ33otHU1VCAABMQAAA
ACAAAAAgbJF0j09TLzIAAAHMAAAAVAAAAGBT6gnaY21hcAAABFAAAAJbAAAC0inuoSZnYXNwAABM
GAAAAAgAAAAI//8AA2dseWYAAAiAAAA/wwAAi5SQKUG9aGVhZAAAAVgAAAA0AAAANgrmLytoaGVh
AAABjAAAACAAAAAkBvUDpmhtdHgAAAIgAAACLwAAA56+GyBkbG9jYQAABqwAAAHSAAAB0kA7HcZt
YXhwAAABrAAAAB8AAAAgATEAmW5hbWUAAEhEAAACaAAABXPPmQkHcG9zdAAASqwAAAFqAAAB960+
qeN42mNgZGBgYGQ44lHYvTCe3+YrAzfzC6AIwxXJ0nkw+r/nv88s3szBQC4HAxNIFAB59g0peNpj
YGRgYDr97x/DZJaK/57/PVi8GYAiKOA5ALBpB6B42mNgZGBgeMEwjYGdAQSYgJiRASTmAOYzAAAp
+AHLAHjaY2BibGScwMDKwML4hfELAwPDLwgNxEaMRgwMTEysDBDQwMCw3oGBwQvKZXB0cXJlcGBQ
+M3EdPvfZ4YK5mBGXqAwI1gyhyEDSCowMAEAUkoQE3jabZPNS5RRFMafc64ipVGYGeOM4vgx42iv
kx85YVIjIiVOJLNLclWL2bkKKjeF1SJcGLz/Qf0BraJV9E9EFC0kIhxnEeFr0cR0e+4djUEc+M05
9/vc57kvqvA/uc4/l3/GlIS4IRGOkZwpIDDjuIIKFiWPJdIhz5Di2DTnX2S7l3FerqKHfSNkjXSR
DOkg82SIdLs1JOvm+7WRx/XlZBZ5rSHQVbujK8jqG5wzbWxfQ1K7MKIVjJoU9y9iWG7aT/qCfRmk
zCYS5iRiJo5RHWStLj7hvDIyGqJFd9CvLyHmna3puv2tlxkfIc6678oF1pzHWZ4/RiAl3jFEP/M+
2cSA1JhvkD623yKhBjERpFGzu/IFCfxC3JzGgJ5AWr5x3h/e+wdjgXef494THANreQXV0FrGVnmN
ZrmPMzx3Dt+xzJjmeQWve4RZEiOuhhY/XsU46xoynQi4b1IeYJJjSd8uYUZueW2nmXeTYbLmz4xw
yftSwm2yLOvo5dqAmmbJFBmk5nW9j8AU7Xvngde/ASnaPe9BkXcgpp0e7Ot/GHcf74fzoBHnwRj9
a6WuTu8j0AXG5/RgY9+DA8T+dR6QU8z35CvnHuh/GKcLo9OjEe/BLtp95F6aRZs025qJWOtHrivX
/fv/Vpxfka16veucJ0/JElkhPaTTvSGzzW+ogpznAz0K+bYdD5lv0cstTMhjflfbWG26hwBlTJIA
d+yCztifTYW6n3ocfHX/AIhmy5QAeNqdkdVTlWEQxp/3HA62IqGAiC9HxVYwKBPEREXBDqSlQylB
ultSSrq78yCMOjIqWBgYHD7F+Au8Uvx8PVzppTuzu7Oz89vZ3QeAENOuAcIiyDCriKyWI80sG4BC
DqoIAU90iQmxJDYkgISQdMGQ4KFgXCihylSdalIx1aY61Iia0notsVhRrCJW+yHgeTaBopiRxsSC
WDMymJEPGDnGSCWqSjUolZGGf5GE5/lJgE/lw3hv3oE35814g1+iqcqp7z97uEGun5NwfVw318RV
cYWc/sRd6ah0RGol+iLbXQ//Y0LYwg72cIAjrsAJznCBK9zgDgV4wBNe8MZVXIMPfOEHfwTgOgIR
hBsIZt8JRRjCEYFIRCEaMYhFHOKRgEQkIRkpSMVNpCEdGchEFrJxCznIRR7yUYDbKEQRilGCUpSh
HBWoRBWqUYNa1KEeDWhEE5rRgla0oR0d6EQXutGDXvRBgn7cwQDTTh7TIv7RUcCC4J8LWVMoJ5Kf
MXPW7Dlz581foLBQUUlZZdFiVTX1JRpLNZdRLfHyFSu1V61es3bd+g0bN+nobt6ydZuevoGh0fYd
O3ft3mNsstd03/4DBw8dNjty9Jj58RMWlidPnT5z9tz5CxcvWV22tkFUdGx8WnZBSXFpeVlFVU11
bV1DfWNTS1tre2dHb0+f5L2Xnb3TuF+Rh8tnH2fE5LCfwtFXtp1rICq7Q23d8QhwC5IKwyKz7t0f
fTn29tXrLgwMfZrkPn799sH/zbuJiITwxLjklNSkjEyk5+XnDj5+7jny5GnAi2fDvwEF0tUyAAAA
AAAAAAAAAAAAKgBWAIgA5AFMAcYB4AH6AhICRAJYAnwCkAKmArYC2AMOA1ADmgP2BDgEcASgBOYF
IgVGBXgFjAWgBbQF9AZgBtIHMAduB7oIOAiqCP4JiAnGCgAKkgrcC3gL8AweDGgMuA0mDWwNyg4e
DnYPIg+0ECAQeBCkELIQ3hDwEP4RGBF2EcYR+BJKEoYS3BNKE64T8hQuFLAU5hVwFdAV9hZWFqoW
9Bc2F3YXyhgwGMAZThmuGfwaQBpOGpIauBriGyYbkBvWHFYcahzGHOwdPB2gHdQd5B5iHnQelB6u
Hu4fNB9OH7Af7CACICggXCCCILQhQiG6IloimiMeI6IkJiS4JUgl0iaMJuoneigKKJopOCmIKdgq
KCqGKuAreiu8K/4sQCyQLN4s+C0+LaQuCi5yLuYvZi+8MD4wrjEeMZAyDDKKMwIzeDPGNBY0ZjS4
NRQ1XDWkNe42QjaKNwg3QDd4N7Q3+Dg+OGg4pjkMOXI52jpOOsI7JDukO9g8Mjx4PQY9Yj26PhI+
nj8IP2w/uD/UP/BACEAgQEBAXECCQK5AukDGQOZBBkEmQV5BlkHOQhBCdEKGQrhDRENiQ35DkEP0
RM5E3EVQRcoAAHjavb0JgBtXlSha99YmlUqlpSSV9rW1dLek7tba+766vXS39/a+xEsSO96D7SQO
yRBndYDYSYAALyEDCUuAkLAmBMgMQwLz3gDDTOAxzPsww2T4DJMJDI/N6n9uldQt9eLYjvlO1JKq
VHXPOffs955TFKYKM29SH8V3UQLlpCglHMsVshmH3cZh8penuXCcjuVzB5VQ0OkKBLI5hfexFsbH
S/5MOOxyBvB5g9W0rPQiy6KBZSYrRVGYWoV+jIbwC5RIuSjKSm5kQlwTgvsUqr/sbJZZtyi62c9V
PuAX9CYm8rgoPh5hTPqqz5R6Xz1Fo/8XH6JoKkBRKMJni/DiI3ykqL6KWfWV5dUXWnk8eeIre5K7
TDuz8czN2VjmJtOBxkPmA6nG9LFUMn0deuiJJ57IvAD/Mk9kPgH/YAyaKs48gV7Af0uxAH0bRclF
CdltCu8o5HMxmncoDkVC8TSO8wqhUoQHAhVj8Vi+G8EpOZ5GgGQPKmT+6BnMHQm0LovzQqxbxtjE
6k3poL/hHYe2GTgHKy5Pe2kjF94RijX37tmoZ1zozL+g3sahCyWUb20YRX+3EklN/SxmFG8D/6aj
58blO7YyzHbWE9rJ0uxhOzLIrtW5wWm8ggW4WSo18xodwPdTRspHNVIdVD9FRW0SChOAulHGj7hc
GoclbPPjTDdCS5/So3Asjwp0wD+2e8zvH90z6h9lTZFMxMxxZngzlR5Y6gy6vrRftKLz8nONa/v7
1zYm1/b1rR3KNLdHIm0tmZa2SKQdrV76FHdxiyjgD2F1Hnpm3qTr8O1UFzVKTcFsZzNFPzIhCfMc
r/i1rzwXCcdjcfhLWKtI/qjMCz9yKN2oCHMGjFZgyRQ64Io0osMczCaZS9wztb7AIibpTtsd/nWh
uuF4McLxuLB/PGhO3Xhwx641K1esaW0bleKyb9dmuc/mcIdZVPpGcmh1/9aV0UPuYGKqsw79hGHM
DM/E/XUtJzKFujok8AM+46qTNw2N7k7nB9tXDOSUuqDR3HXWfWN90iDS8PubHBtbB9Zs7j2NAplg
d1N9T10WcEbUOPox9bgqN7VSs3VR+aDUayZmtqAkfokywDVmxcankblQdNjf+35py+HDWyQslagn
JNT9OnK83o0k7RrbzBbqDe2agjmeA0qaOT6Wf6Z8jYS1S0q/UC9BVAytQ9fhJykPyIOiToPi4Pg4
D9DBeD0oHisUlWLhe8KtPI+PHsE8f4sgioZb4NuRo/DtVoMBP3lHDzLyE6t4CfXdIQh39CGJXzXB
G1HPHXoCUzv8+Qq6l8AUiuQj+Ww+a8/aI8jZ8ZGPwP/Ptzz5ZAv5XevMWepr1CnKTlFFVVEBBGSi
03SczP9hf8toO8+wU4JZMiOL+1Qu3TpqwVbG3SXKoo5DepvVQ+4TpJ5CQer/gk6hepBKa7g88e8m
3b+b/h+H4DAJDtFmgt8NgX58ntoN+rFaO95a1ocVLajR1T/zBqrHzwD3UoiOyKj+u+3fxc9c7Mdf
1fRX48yb6BXgaRMlkxn2I8Kq4TQGuOvC5szz9+6odzZPXT/V7KxH3l/+Et++98HJrsPb29q2H+6a
fHDs4jMwxumZi+g03CMI+FtysSZE0C9mFM5usTkCCOYlFgmrs9KNfmwONnOI29/J04zR38BitqOz
ux3e6v3GU2hNsY5maDMtx9m6jaVbusKYZmRM01hmaBwm+LhhrL+DsZIwFohPoVhQyO1jjSgM7JIr
aiJGxuOIAsyWedb2tVuGXLJR0jkdCcWees/KEG8IdXY+2Ne5Js1bnAcGx6dv6NrU7bA4OXGLDyOa
Fhje3t73/pNDK3YzOn3f8umxHaeHb7ASGOpnvoW+CjBkVfqrEq6ALJfHVZFfAAPHcwohLvDa/YkO
h0Vx2YPFWwa6e1JGI3Nzfb4pMpXXGZXr2rpXJHt4uWvNjuyRVn/QrNT5b14xvKUFy1I+3JiPN23A
ej4/2J2PdIaMmJ0cPLIm2aDKz0X0HfwNqhd0bCQMhECFDpSB8RCnOOBToQvlCFwOH7LBd4eNj4Q5
8nne/MDPYsjyn5IV9RlEi4ktfUOwcKYPWAW94gWSGHt5vmATjH4QfLaQ6QBrwKb8Jv2LFtGNvibp
GL40KiGkt3xR4kwYSdavS3rWz/OmVFeQqZrLSGeDladUXn4BPYPPUQli14iVctg5UKkgzxyA5qeB
HYlAw7yCPOF4OLYyr7P+F8MaXDAka6U5gz27YSJ95IkpHebf8bGWNetbDAz68LMuHEYcU+f2YMHU
qecxZj0tawpT9y2jaYXl79qdHYtZKronATLwPfw5Kgo8BTq7QNQ4Ueqqhi7PZKxYFjNQ7Inu0dNP
sjSTzk+HjgwNFzp6OmWPwDdnRjac2LL/4C+Xf3TkHQ5sYsz2Yt3Jz2+7fd3A8A4da/Bft3LjO87B
eL6Zr6F/xscpN/EYwsAZcVCPWTJLoCU5cHBicVSIoeu+la63mTjFYHZYM0+fEvlEYUa0YeQx6HHO
EuaknhQwKua7Dl6cwQYBdyoqPjTVDvh8BfhTocJUCsYo2x/CfppdIt5BQSaoxVU7JBMT5FBtEOJH
ttnrA66ukYPrVt509jBC1w/le843JYfaWlpHOyY68e0rhnwtMbspsr5/xaaJqRv7urct23Dx3f3F
3QPO1am2VXiqL93U78usbR4GXJtm/gq9DLDEYH7DnGryHHzZOpYFQ5vgQnmK/zPT3Z33mnkm3Nqz
8cT6zTcsG8ve0cYxzMaOZROiO4t3jt2xl2F0vi3LNx49d3j9s33pDgFbGE9j8RN3xYYH6zW9pupI
0N0C0crynJakFypMV/kdOcuas/SjigrFmm6H+9hV7baIdi/O3XC+oo+Ub7yowv9QZQxiP2bQi+iD
FAhEMWpn4b9oK3pX6WXUVTr9L19qP48vtH2R4NROXQ/2qAVmmIiOPZRn4YW+UjqD3gmvlpaWh1tU
e1SE+72g3U+Gu+Wj+WgR7nca7vcy+uCXUl9su4DPw/16gU9s4GcHqAb4pYoCiB04I+BOxjSfETgk
pk1WFQ33dR90SqsiAi2BgHlbio7Qar3TXl/GFt9128poStdgdVsTHM10JLw+k9uXjClBl8XsuHjj
HG1TM2/gfwYbbqSWA9hhnvAi8Aeo8BhRBKDYOYfKFQACgOXHFeZRzVNFHPM5sPYSKjtc5DD6K2e8
vld0tIfHBSHkMvj5XVbeIK8+dP7wg8/4+05Oja42spOHeo/vbP/F4/d86NzxUZ0Lpw4HbPZofO8O
gwN91x++tcGY81/v8RmzjE73s4zFjOiDm/bd9p13N29ak4twxmxs2cnlH//B+27Y/YBDsPegpmG3
bFvfdJtI4ZlfzFzEtwFeHdQYaGPwv8E4aZQNEMUbi2vKFjgeF+VCnJhK8NP9qEYVA+lpwJ+obnC4
4hEOvZxkJccjssRGHL4Qy0vTpklwFkMNVtYflvfYaLdbpA2hexyBoAeOd3d413OI9UW+1sNx9tMO
0NsWDnPb77bodOb9/RYrmFYrjUAhW0Exp6SRDRkk5a06vz66o3SwN8aQ07R6ljZJ6PPPWHiD7SNZ
UdB0TBPgmMaPUHVUC9VTsfsxlf5qFMLblIq+mbUtRWAtolHV+bSAxqlMLs/dbg4FwS1Y987DxeW5
jJxZc/ZO4xqFuQkQscbNU3aldWTdphvjshSbWLGuJyhJD6Nb2iMMzVponTe6IdujiLR+3ej0PrAv
VhY06G/Or3V6h87tFpDp23YdotsGh/o5RtP3SeC7J2F+4sD1uTLIRTWI0hiNwAiWEg7wRDsRhz45
2H7g8en1Nh1tYKxs8FOnHn/69nXXOcAAsQFRstu2NV7YfQ4NT96XWutkUed6MIvvfez8o8+sawMY
o2tNWMebB3aqPP87/BOgW5DKzFItp4KgkksLH2YpJltsZc8iTatksviBRe4+et/krn3TazeerWtt
NxZGgEhKo2XK5tv6wP1S48Cx8QlZAPoUtTnU+es+uGf7Y+lmhinTBv2w9OCkt/6p90THVnfXSzpC
kxDMZzfAtaFqLis2SQ0vmTjxsTjNfciollqxEWLZJUQYtHJWcahemWPOLdNQud3aaGYQmzTL8RdO
i6wBGItnJKNico2OOnSC0j5Qx+kYGWIRWmb0vNPa0a4IsvJX/kACJtnsm06mNk43b1A53vYw2jeZ
YDFtw2ABTSfgoN3oF00MZ/B9y6YTffUsYoVhu21ADx/iQY7VyQ+ssSkmywTD8Cu7iNkESjD1Gj80
gu/0S8B9FfCDXUUPJJMEzIAg4MeFq/Gb7zDl51FL1Z5ppP3+e4IyOGDldDpar6FmZQXeZe0YVARr
YxjIsSGlTp+rwWptIORpsMixL54y0tjC8r6we6TLocMrvm/jQXJNYoJhhJHEgMBAaKcDlO6bTIBw
2rDG82x8spoq420QqCdSAmdQcUwDz78MPN8GGomIIR/WWC2fK/N/Ge6KABSJw1hBrBznIny3k+NN
4Z2TLx/cPH3ob3t6swYTtjO2vVP3nPvAezbJgpxOgs5J7mrNAN3NPulDrd16jtO7b9p89oHtx00G
nNrNYXZF30dPPfI1v9SY6PGxrIoAbQG467S5wH+AudgKQIdqCQ6SOI/kmTnQyA+zocxiUC8ShRRJ
tB0u/bROkht8QPbJtBxPGWEiLPUWW9wNR0zrXNk+OCA3WKU65K+TrI0yHB7KZQYJt5H5csL30ZZi
P/lV0oQlNKBXHpio16YEYTInfGwC7VuVpLE2SzYaM/WTRxW9Xjk6Wc/UHC09Ohln52aTq1v9gKLX
+LMB+DMBNInWyOYl0ANZcwFw49mWccJcjdby95Zs+fujaPfq2vFXlx6bSlSNzybUsWd+NFNEqUuN
rSrI2RioWHjQmSJjrW8qdMJYpkar4t430Gg3WWWn1WN034FOTTVUjcwlpkoP3NvaM2mXghzvzpfl
EX8exty56Jgw0xk1UigWclWnQFUTGwusrTjmG9J4TJXgxSOe260NBOCxfGW+3aaQ9cZ2G28BM8rl
2wopUObZhuT2aUV+sasu6YGv8bH8EOgPxSmhqYlOySAaOEu9h9ylpdgFd7HFzaCiphK1U3w0ZvDJ
NxS9gshwrBn4hLEwjNO1aa1iVn7YW8eW4yMry9A8a0VbpgcE3uZ9Z42UczGNJ2JAo3qgUfOSPKFN
B2hiYlZqVbGcJhivSTcTdnA2WiHwXLcLIk3GHhQyxcbrNqfXwAl/g3UBEjBbT2aSkmK0r2RYVrhJ
rqjSBMDknfktvR9g2gsAwjRkYZLAw5mDSrEqfma++qQjEoZ507QRSR2Aq6OGXvNFlgRmhTlEOSQf
ycjYmd/qczpQuL6hiQG5TLsQzyDE6a1SEOapq62jG958EQlEUAnoNk54wamijePTuqSIGY43+2Kg
qbKd2Swg7Ag7GQPHM9iZMjOYS4UzIRa9+W97IvUHXmrLdjtATck0ZusKpfctVwQfb0CajwTTSDO+
HHqcbeoxffqxUYZJ/I+vW3e7u4+d29IawTQLvpb2I2/m5K6Te5oDPFYvbNbm0gW6+T+BbpPEq7cp
XCQWp1U6qOa0lpkh8rBo/FyebxbOA6lB78VruQCoiN9PMyb5wOvcThGzVqE+ALM+kMnmgSSeOp3R
ITdagMUbRtw21u1rdCfwjl39mLHp8+TwUEsuC8pcauFN6H3/ecFt8NyCdPxRoynzo0+FzTTNmTQO
Bt0d+hQKNTtlVsNKTMRy/jQ+cGSAjf7Dp4NGQFbWCIB1xiD4QMQW/QfYIgPlpyi2KhSMq54OBlWP
wd2n0Xsff/nV9z/5hVfetfNuf+f+oYZVy5LW+s4t5m8+8Mirr5x7+G8C5+/rO7G70997YmV686bB
RqBlCuSCBVo2gS23LG2sy24qcF26kjDivic3ERFel2wlKt3eaDEF64AOXfec6ZvY3QOiwj60ZkXc
hNeU+omqrggriOQkOjwQBfMOzlYis/tgix9bkOeBZesMWiyanonSxwDfEJUrR+MkG6QJ6GzGmLgM
Wqpenk+FJ79w9gYsvGu6MeOxgw+X7p+c3LrJrijFxt1HXv1YLW3wk6+cO/l8kBVu90l6JDDuaHKD
XWR05tjHbnjk1Ys3zKeYlgP8b/yXQLMOatk8n3Q2cQXQapCqgKpuwiKqVNYc/ApBb5f8QZabfteh
4uoVzZxhcF2Ttx6E1OTr35gzDptEvy9stDTaCVPmKm7QFM32DoUzUytT4OTtHQOXR3VhG3f0rpF5
y4HjCReN9TSbWyYfdFhMnPm2yRg3NxVsHMu/8DGsO762b6Og5ereQM8D7dNk7YFQGsAn6yJaYkdb
AFJNF/Fj48TL1sI09PyxHZt79WbMWOjk7Z19oZZtNx7Ylm1w663guXJmXzbcn187cevTq/dEzRvq
gPUvDDTXDwS7R65bttPINS+DI45Q1D6QHCxmVmhyzgNv3os/R3XBl8V5k+hoIHgMYkLwPv008Wi0
SESNTjSnEh2yNgQJo6YatwN/1jXYdI7ido/LxlloxYRNGIs+qxNdqHcbGCPS6TE41Lw1PDXi4PHq
0sCcOZFBI9VPoJcUvcvRxLBc/2q4FLwgvYwx7d+lgPR3Gl16FfYIyCyJW1rhS75a1ThsqqoBbiiH
Sot4YKpzlingLbKQIJanrS1b4Bhng04aDu5pO927UjPB4y2ZMWKQGqxbD+zdgWJHPxW2gr41ExUL
Cpm2Bz51+MnxSKzY94lfqu6Tlk5Ubetr77z33QROBHC+AHAWYL5Bic7TiGStrKClZ+frylkbhGyf
sQYDVqBssrO9B1SlKYX5xg2FUE9jRp+ywoGG7qYMsY9BW/1IYYWH4Xmd5R3o2WSYwao+JM4sZwxf
/5PTw4/uOOM0SXCNRYulMR0cfOL0s6tpul/zry7OvEH/E8B7DPRVvBoiECVZg3MeFhJSkejWjs8d
5njVbgY0l6fmFJpFLs6R1UFiX7DdCVAmerryMM1KKPepFWbdQaPH6SSI9ywPA8xuH28ydYddkghs
4RelRKGbHPbpTZIgchJOxPT8nukJf8gnmdrihTjcSI6EM2OTSZbXcfbdG6KspPPHXxKNXnwrESSa
xDWYlkw3l+57Ikbz8htuD4bIhpwwcxjL4bp7RzqDMTuHsJXTDiJWFOyCmxnZYOV4y798/29W6+wY
m3XaWbpw/OmvHaXptp99bj9Nj21Aj7sVO6Hr70HW3g903QF8oJTlLKY5g2mSLtJItcDDWITeZCZA
AS7KNOW74JsjYB2G2sYLouALO8T9bscmr9EH/iNbKBSbecS66gq+Iw69+LAn4goCm4ykhpJASq/f
z+y1J6elkBvIniu0NMFBZ2NvfJNgfDrpolUvUTTStCAGzY+GvHe3KHqB1g6reZt0/FEwsJzlH2Mh
CKfLahBjgz7NPuIpXlAEvZoj0awvM5k5Y2L0ll91VXjvIt4KNBpVY8LFVgIWJYYqQmVSVHiPMBma
sCViIMZbGrMTIB6BBqvgOOH0u7yAU/PgUAwiP2NDYLulLdrXQMSrsIb4F16DbDcqBi/XE5K+k5ts
pDV3SXMqV2cbEg0/T7vB11S5R2YwbzB1vxTYMXrSUZYqwIzFOrtUZ8kIB1qbQQd4AK9j+FMk1i3K
4IHCxFUrVrJUGyKpdlUubBU/WUtYREJkHakb3f2atdnJi3UXbva7ZN5EK1ZQpOEepNtl5uS9DX+5
y+s+9WBDPGBjba5CwD9QmmkcYs3D70FZ92DEaOd0IU89zXD9azjOoqORznx396/e7aCx4hjmpb1x
ssKkN63X7MLxmevVNToXRSmWbAbAc6jcZbdo7h9PQt/jQ+ZoSjSKG816o1Fv3ggfU1Hzw/QgwjpJ
QHrjg6WVDxrB5Es6jObW/hRt7c+DIvSGl9pfKi/9IUqZuZ76tjambImEwaLHarzLYqYbZb+96Jj4
mT+9MDsoerZ6UES1UL9B38BHKI6sQxlQRM6ib3Tfe2/PZ5t/g4qlV9Bt8Btq5k70m5nnCVxqBvs3
JXE8k6HK681fpv4DnyVrrrKiLTXD1DjeuwlL77RYLZKAb3pawmctRtFk0vDEYJveRI+hR2HsPrJy
2k00oLquwnPl0JTQk8xyNkPWk8optnL+o6CUE375Yi5CktAnbhY4hPC4Mw5YOkPSHa2FHOaYjFEU
EW9rcNQ79Txdl3Yn3YG6en9IiuuMWDD4mxNPNtJGY3q94vByshRb29n2zHqON9KgIiSbS/E2+GOt
cr1FZwx3GAVzQIM9DLB/F3+bSlDFKt8LmDajEJuanU1zx4lHqMJcKLtZlTXGcb1DYBi+scHC04zQ
1r7mhnde1xzVySItQITC03iZy9PS3zcx2ugS16N/SrmMHDaDFjbrueHCi/bQoTW7bzNingEaeRH3
WGsgtG1kYq9Zp85HHcB3DmhLdrdo/qBGvUqWiPgmZToiRzZmMup1XGNb69S68eF6zoCcW1vW5tpv
Q49ajB5J4fPrxvuu78R6PpvNtm6efldl/l5HbwANGojEEs9IdStg+sIkqonMrhYpmbJvkdOWl2lt
daICCnpKkI1+jl+VN2BmoGNq7737GlycSpzROp6mlxn8hb6xVcMtXh6PlcYGWgTsZgx2ncXDpG+a
3HtGLz1Spo0ic9MXf/fXirlhx9DYPi9f5rHTQAcPWamsypLNoa9OFM/F5/xf3oY6viTrNq7Ix+Ge
G1PbMg2HN3RPMMzvRzYZuWiifgghSievurGFtTSl+4vjW/9itMmq4/0CY3LFOj0s0D88cxGdB9p0
aKMusWLbiDTbVqysNldYvLzay6HoDSIrusFPZQcasiSjoXgMrCli0DWaAsr0QH2bAkY91tCsOBjj
ER2Htuvs32/1VS2/M57W79t1vGjXiftGc+Nht8kuJouth302nS6grQl4S79GXwUaFah+aiXZHwNw
RtS1RwCnnFcnElhehCQWV414VMNbccTVPDf8Vl2dLPM4+Y4OTOoZwyi21g2ldHXJurB5Qrn/wu41
UwYho7MK/kaTyyuMbx/IpKPD4SFL89Adq5+KN6aS0aYCOsbUIUvYm2/2025wjemDEwdGUk6j0KKz
crqUmzOY/SKfmOxdbzOXbgQuaWztSa7/fFtTYaQ7k+srx+gX0X/CPAxWR0hlIVXI3C8xM6pGWeTc
hjm+ZAYGB7pFN8krFdL5BLzZPIbmpnRQ4kW3nSywt2Sa4c3lMRxCf1XFouHvmencaNvHWr10zTw9
mGnziBb3U0VvladPe1VZi89cpP4NP0wF1R0U+XmYLAjoKkveMDk7eZueZjobdZipgJUj+zfsHkPI
4fE7FG/g0KcDViNHG7HdC6rlOTJ+FVx4q8/hcnvtTh+FZ35d+jX1eXwO7E90ETh4rryNohqA3XMA
2GNH9Do64ixURo78qXrkN/dnN48gSWfx9tDO2UHVefTCPBJds2H+PNpVvVPxnXPFaiePxOoLs4rw
s8UlsmpuOdEfq484nDyvrBkHYgXdUeNKk86RGlGsYYm42tmuRvCCrC7LDUbAQHSDV85mmoiIco4F
E156WmDjyZgO7oztWAd05Vi/sEwSfNkJB7jDKrVpGV68znaLJDiL8+ZApQH4R9T/ARoEL5UjKZPl
iWqIiNKYww2UaHze7VtrwNXsx0X8J/RR1Q/P5yoqSRuySk6WPFG2h0idIs0cKo7iEgKHj21p9ZjK
3LmTMKfVY9hc8JsMHhK3JfakiXvtMaiMZOuXdDQ2jHZFmxyCaaynvauCakv5ykPv2RuR6983H8f3
7K2zxj8w/2iF9fmgwCtOQ9YTxEJ2uPDJBROAiAyi3wBN+qs4vwbDxXVJLY1mz+ysxmaqvaNddDs0
6ayHN9lj2NrhrhAgW5HYQ/PBXQhp64VdEVvifQvg12zhy6DnDZRS2TegSaiSm1tA/d264ye2bDh+
+n/19mV7B7o7i+jRY5u2njyyecvpfx4/sXly/Mh15F7uUgm9hj5BZQg1lFqJtGW7mVlztkS+yVHt
Ca3VNEQc/uixwx2KW5dtvvf6qFUyeOKA92iigv4yo8XX2Dk80tvhFh9Ez5Rp4fLxdYIRiaKk279y
31mGdu0veBi2Cnv02icVp9Gxe6Jvu9ek+S4A/y+AFvVqZsSy6LzN7VhQY41FPJePiW4fQNaWamqD
twBIWWNHfiql3Hddc8St18k8o1tmdHe2LdswnDPyyFHaVAMY7W29w+mKd/UF9p8UeIs+WPrZheXO
9OaR1ftVN07Ng11Ey4DnWmq0raNivea5DIuyWLqoo0djsttrEkSnzW4yil7iT4wk8nGN0WaZyhzC
bDuPOx1W0Hxmm7Xj7nmuRCU+eRNFgXZJwkWKmoCr7PSobB6Ix0girLwEjrT86JcHbWbawng7fRHR
Z7a15Nd0DsXMDGNigst8MbfH2ZJZgR61xmGumbGwx+RU9KK3o7nQ6Y/1sMzeUMAesxm9bbF8V9m/
rUf/i2qc86/ULShAEzXdqXlX6fLyg0OxV/ypwyLnTUlGVkYch+P9nUnO5GUwnZIVmTbRrPEmPQIn
yvyVfDuLRZFNt2X/FYgoMZLFHsMgnkaO96trXa+j/wIatGlrz+WFVzXqVidIqYCkOcTxvMpOc0k2
9ScfTuTTERsvWo0sNxXRIdpgMysst8enp/VTrb1tOodIFkPSekSj9o+1tfutiSdDPoFnaTMNupr1
tT/Vm2IZB2038/VSrrvnYxm3nmXMGFkQ51bnCkMs+UX0gOr/xNP8woyUQylUrGLVGZ7s7pLKOe6P
rkF6rGP1OlDAYN6ibf4si1hR4XW+tJHmjG1WqwJwNnm9RExNvEEnsAbWSAtDRuTU0byeETZ/m7Zz
Zk5kWERzFqzl1BjJsX6fj2ZDD6UsIk3P5toQwxo4We/m5MdDTLuNYSJa3mNm5g38OOCyTcVlQYIj
gPzYTpCJxxZFc5H8obpTZHYNKxZW/Qb4/LHNFsVmZhCXbmxKkDybw9zNAGXlFjNviJgJEdLJLAc6
yccLaNyAaYMzKVhdcCQZCYbgzWaxWerzPpbV8Yzd1mzj5JzHyJgZduSnCQ/LqEk1EAaGNhjj7xPs
EPClTiasHh3DWtQsCsNwkpv+ohvTrvwtPkkgqxRYu4RxRtY9sAw+9DQdzbbc2huDu6lzbQBd8QzQ
ZxOhz3wakOWmmoW4WS+JEA7N0xxk3ZXT9nLWrGIR3/+z0y5CArbd5+4APjDZsLFZxzIFkbaILM1F
YkkfkMwUN7iG9MIWq9dGftza2NQMZPHZeUPOwvKGBjOyWuB4NBom+UfF7RQH9eLfnImWVwXULJnR
Ogx3nLKJ7NxBnd62VRSNd7rsCM3tSzUZx10Mb+l3WsouNU22bbjFrYbyXlF2hkffBNr0lPdeky0f
lbwhXshJi0sFvGhu0K4oFtlhiMuCZSW4VRYXsENzU7wZ0HA5fEE3zQXCEWcAnMTmRLgBjlqcYU/r
k/bfO2N2a1fGY7Y3/0PArtCzdgCYRJzaPIyY4VWrLcayfdC2d7UdLT3RROC3w9zejB4je5ezJCWa
J/DNrTuQeQHdq277UXPijjKC5f08P51eb+XqOq+H2HEoI1utjAVjuwAa0JU8lzZxKNB40sz5wtNe
0caasMkRlK3giyb3PmfXm6QkzKp9FTCcyMHBxpFve4x+KQlO8uogRgDbwMxO5MKfJ2s1so23q+G0
auFtPNnRrK6KgUHopnMk4M461A2DiuO18XG9EM4wzDmQEXPMp9f7wBzwunOCkAkLenTzOpmR13mW
rzVFszrayNwWGe2KmR0eMzYYsNnjCK7ZYrxNEHTZaHCQLM1Q0zMcdQH/iuSnZEvEcqED/+pPTvp1
SvPddlIXyzCqIMUAIrLPmiNWC0CiCUh2W0T16fIqpMV8bB+BUBDmQ8gwBMLxcXRzQ9dgEMAThNuM
W9YE54Azx7pGI7cxRhrAM61d4Sa4EDiWU0fRUyhOdrdG1VyXmtokO7O0ueJQ/y3RoE2w0QBNXfmj
y+54zpVgeEOr066+98gy+DCF0m+pj6J7KSOpt7KqsbkMVlcGNKq2y949W2fVUt7pWfotqbNCAyxb
enGZyQpGu1J5gKk+ikEv4t1UGDwjCtFarognxUnxYqUgSeHnMkq0HFOj/PaE2dmTA2XYelK0mI3j
22/dLpgtQqDFoWM4XfAd8d41RfSL0ueYVqRjN+0RhP36fau3H9et0+vXGOSgZNfHSt9CI2jtaH67
Frf/Av0K306tUPMR6q53mCx7QVt+jcdqnB+uvKFUnddGLQosxCuZidmfgSHwI9R4iudPGnUHg5Kj
v8uXF2nJaLJv6sgMD9oke4NB2bqaNWzmuE0GBjH7JlsV0abndNGMu4ETEYfaWIVh9UfGQOfQXveo
xeqxxvtCQdmgt8oJX+wDepZ1sKyQLGw5adW7BZe+Mbv1ToHVfE5qN/o+joH/3ajuqq7sU0+jDCmF
UXjAk2xejIMJAn0bLwIiRLKVP/Zu29bbs337u+4v1lt9OJVOp7DPWl+s/Yr+Y9fQyI6dw0O70oks
6zWlWh9tTZm8bDZR+7WypolK+GZqI+HDxRYRiCBkQf+p74taW0dmoYoE1aPOFigAeEdff0TyRUl+
pLu9QJS93/goyz7M6+9i2Zs3KBDeg4mNjrTFWMTEbIGin1NSGSUG+jTVEiUHneHmVbew7H08fYH9
7rquCOh01TwSKxjuWscobKPVxjiZT6R8HMtIZKnBxPCMgRs40ZWe3m2U4IuJKFOJYfnNj8Iv3YYk
64C5mJ6ZBF3xEW1PNtEWmsbo6MAfKT2BtpZE8hd+l5n5C/Qt/CTVrMY5tVUjaVZzbOexokNzgmn4
q+oZ+I3qG38pkpLNkqGh0ZXU2c1hc4Lp7X9iXywuSxZDY9wVbl/T2/Hh0ZWtzR09k/kcpxRv8Tok
hz4S9oqeoBI11zM9N45sedpnMdh1vpCnbtmKjgN9u55Dm1dtbm8c69vTuWJjV7LHHu0YB7gT6Geo
F/eVYz2AuyIx2arP6+1u5LHb3O6n7B7ktdtcLvQzp8Pm9Vgdnso7UIjs9/53oEGQSpDdr2g2gzpX
EOBHWT+q7MSlgjFzIegwR7VsYCzMIefUwGSDqMNm/VjLviO3b3fmEwzNY5gXz6bBcaQr/cMrr6CG
Vy7e+vTvnob/0cpV27cJRluXSTk2sfEQr7f0GCEqWLuttPEVFH7lldJP3nvHs8/e8c7PfpbIVYh6
A41iL9VEDQOu5ZiyvL+tOLeKoEUGlSWESiaTB58I9LCkK3vxr9iDcQ64JchJ/taOpihmcZ1k4lg6
UO+y6znW0OCNxeKeZRwE64gWRAOWOJEXWA47FK9Zhz4phqIBO8uKRkVJpepPtQoCEwQVoiT8MYvg
xrptOR58HMRgjuF4vQHCD7Og5dNzVBytQEdBn5PqOJ4LgH9GzBSJFWq+vTDMssOMcY/FaPRuMl6o
+Yb23C+K5wT6TpvZFDqODTXfNF8oRGXQ91ELxZLcTigfsqNHS/egZzP/s2UGzjOz803ywcuoNWoG
aHb7zdwmGMfsvpLYkttKgKRaJti6kCc8gstEtmKuuiflxdxIzGTjOJMp3uTn4gLvtOhEhw3cy5zH
n4FQweQS2kXPRCrmMnx7HrP88sUWJ40ZA81cF84YdPyJiMRxdKBB3y8ZWF1rixcDn2H4J8GvXCh0
ysStDbboStwCVgLadGIKJXFWrdRQVR9oseQbOt0bOkwJAUEIqLJ1G8qBbdJTlnJ1JaeKAamTyRRy
Jw6tXHFkxVODyeRgEt8+2tYxPNzRFs2tyeXWaPOs1Sc+B5JlIiu4oXyxukrxK6UzP9EKFVtaWiIf
aDl/voXUHlH/jVbAmMRyqKteikTzs9Vz1YVrhUrtnN12fiRebzJyrKjTs5me0ZSfxY1dm+vD+Shn
rN9Z6F3eGkZxo8KKgt8CcRewOkd7ujYvi6d6GJ7b1pbuhl9w6j7zBurv0DCMT/ZnVQqrZgcFI1Xe
HeUor6ZUbS0tlOob6gNWdpUnEHC01BkZeXBNIVhPs1yifWh0dESWzKDR6laivdGcT28NWe0Rl7cd
ibHGBp8Sk1k21ziazcclq9s6pPHvafRl5NPWGhHxSwg1YFQkvlPCm0RBslhx31ksPa0gbDKJRm2v
eOnXarw+eEXxejymHtbcC8tlh+69ziDLhlNm28IAPvL0JQJ40KhCW2gnNjcFMDMvlAccOmYeR6/i
8+pKlkVdnSFzn3EomidRTjZWTJRNXds/yCuZWLjgMwdpSZaMimzZfe9Dd27xMkw8ZsItpeZ4e3eo
LhqTZIPFApTrbHkkeGjj/gMsbaJ53qaOO0Sdp55HHKlbLS4swzpfU7e6ayaCiLcDHmkHIopiNsmY
KSf84vlv1nl1lnRvwhOQHHWcwVzniUn6YCKatZn0Fp/JLEcNnOrPA8/bgOcCmlav1KfaF8k4v89g
C4BObRnjsdFngU+dva3w1+IzohVfDzjBBQBP3MPac/+asDOYNhN1AFPA2Ik8BsF+7AL7YaAc8/Ki
WuUbgfqvB6c3jQ1v3NoTaW5KNSbS2Lu6d2DdVO/Aenf/vpXD6ZbVmmynQIcPV3R4kRQIQnBBFDdA
XvPtKKjsTV6j0bLHyAyz99d8+9H9Bnw8ZDLb7qSFc6JY802t4XkNv4TPgf6OUrvAKwH3EYXpt6AQ
my3XkmYzl1FKCopFjSaIvudpznEves4ulEZd/qXpfGBa5Dib28AKUY4LGTnBZ6UR05DscYP6tvoN
nPEDev0P9KID/0+Wl/BjysUd6Pgl5+Y8azigYwzyURAEG8sapKQVDpvIeRPcU24QRU7QicgKQsaU
fqengTYFoM0vy7SZvBLaXJ5GvaNMB9PSdPjqWyvdy8L+vy9DMdNUFPD9vopvnjpawfdKNbTytnjj
U2WaLLs8Pf/bK+ATrkypB9/aNHz4iplFk9fSbxGCGFqrpQzPlU+SzaazhZWOBUWoP1y0ljIxG2Ff
qpYShysqk9ZqDukxteZw7TWsOizGVV8xmyF7Yq9JBWL2eQfDSaLRYH6MffvViA+t0usMNsV4s1b7
/Oejg7p7kPA5f40qMb/8nIl9zGwwihLHvH06/HQVI91sVGwGXTUdOq45HcDiBJCNB6OPwteGDsfO
OOxnxHdYzCekt0+Gx0/J8ikjHtTrB6vpMKzSYfu1pMPspkGunDxVc6fXhiTKgXqTYDRwotccviFh
M4sCyygG69snz+/NBitvaAhaZZPCGSxFAzhmTJlG9WVe2XEtqbREwuDakKlf8WC/w+71fEbxIvjg
cb99Cn3E5XQE/DbFV3mf5aE+8FtXUpvVvEVlX5IcuQSRtDynZi79aDFiqeVOtUXegj/t9yuOwO6l
iaMPxtvWtcUCnI9ZQCAj0PVYDZHwTz2RiMddV1dil6ZMxq/PBuKtrXF/RrBNGRdSKA6E/dVcCTie
+cHMRXpU3bd+J6nUvFZVwmW/QF1PcmhEBRKX6z6BppU0IZ1Vf6vWisEv0Q2Iqykqdo+M2pcqKrYq
3/QGEoCdyT+dTE5vTpGi4nC9zRCaCpit/RE9Zy0wbGfGMSJwmA/IPsevnY5OcJ2GgwMhA8fqTCu9
Oh0+T0snSJGHISiaGPZyCo+X98wWHk885OANodMb7Rasq6xXsrQvgf42JULkR7ZAl36AeOfLAZbx
PNRj5rS6dbdat95DUaza4Osti9cJc1aFTtnZ2Ald33J2+tyli9q711j1cvNAgzcoiYYYqIuod8MY
27Xzs5eocrcjl6QP18fzNrNgDZgttli5BkqtLwe7vIHa/eeqMJerXJVrWm3+SpXHcq0qz/GBasfl
/xf6oCoX5prSB41WuTLXjEAvVHk0Ffp0/Fn5p8q1uab0Ccx5ONeMOqdrHB26TJ96lT6H/mwUWsKc
X1NqLV9g1a8Z0W5dYNyJ7M38N6mvB9mLqrujLqvCfp6uuXS1/WCV/ricyvv5uoHU/++8QvhqZf3S
8H2rSnwvC75q0QT4yJ4CIptXAB9dK2uXhu+GOfm5LPDmywaBrwtkg8DXddkQLs3rl4a2bQH/XhbQ
i/MmFSv3i4lR3WTnnrqUkH+rrjF2de3UPq93zDTPT1siFo7/+Np7Vi3SP+bdPP/u2h4yn2Fd7LvH
WgB0K8356j543c7aNjLPw/n3qZ1k6sZWdzdIOg1mtZ4dYq5Jat+1rmiPLh52XatC99K3F4+8rmUB
/PcWicForSYeZJzUxDdcsiq+WvUsVSE/WqVxlqyWx0/W5k6uBIbqbMgSMHyxSqssDcOva/MWZRg6
LgOGahWyFAw3zmmOpUF4dl7OoAzDsApD/tIwLJEFWAIc0+LctSRotLBYvF6Gr75Mo8KlIVwqAl8C
xPYF2mtpwj23QGUhqo8yoOfQndqamsLH+XgxXlSK6Lnz56MXzkcfeih6/gLa8vCF+MMPxy88FD//
sErv1/B/4OcpJxUkc4748jYIPhwrbxbKqhtbeKTpMz0pvCDo4WeLR15574mNAwYL6mvrevX9x9a2
GeR9pceHbtp5d2kZ2jZ4gOCFHxve+fHz3+xYbRIm02eXP/JqcRSZ7i8NrTp/37nS19ELywlKZyu1
aG/gn4AMtJIVvquudKerZPTKqt6/VCW5V14Bj/k5kb5muFTJ+pXh0lOlAa4Cl3VzqqGCS8fbxAVV
6Ywrw6X06JwquQpc7PN1jIZPvYrPxNvBaAn5vkLsvrZA7K8CSWWBPsBajTnw4Ki6/+MaVJnXmJ63
XXH+nioWvRbV5+hPNfZM62XFgf/WtrjfWekNHJ9rQ7NYPy97g0P1OXNDDKLNacfknlsLdQOrGMS8
d2pl3GptiMLp6WRhiHQxarSQgKnicBKvg4t2r99cGLeGGGzG9jtHJg3O0l/PbyuF1FpkUhu3ddG6
sHl1pmpTWV6dKz+aLddQO/WW3U6SoOrWVdB6WquuammeV30ace+5dwRzjIGTOAu2Nzs9vkR6XVve
LrB62sjm7J7wyrU01tEiY6Zl1NWebu9HHyj9YH61UqU4dedYccVEXm81G806M2fF1oaEHHMqgZ5U
+5gshCSgUHMs0tna2cObDJLOBLNoRe2D6f4LZbl8Ez2Gz6q15CuuRTV5dRX7VVeWe2bL36+sxhz9
vrZY/s+BX9XOmavG70ezO26uEL9v1+7PqeB3RsVv1TXBL07KOcKAIxhz7qoxfGnawBumjfQenV23
h75CLMeuNxqvNzwvSc8b5nDcruK47prgqO1b0LzYihN71ajW3RD02gy85LKGbghHLKLq414hxi9a
vDqxxWV1BypuL/i9Gt59Zd7deC0wX8o9vmrk6QVbYa8Q8wMLNs5W4X6fivsYsaVvH3drxkE2HOaU
ufWsq0a7aV1b27q2pvLi1ZWhjO2tK1tbV8bL61QV/+hN3IoepYzUCMGW1CyqtmZux1015moqpLK9
ZtY30ioOII7Qlj80is31k3b8WhCT/QEl5LWwwYDXh7He7Rf9Snd3v719VXaV9Z8M/GBrOBvgRNR2
eEO6vtBcl1l1vUm37rDb2uhPtXEH8yLDmJSsM+C1vr8+WBf2W528LJnrzanW1vakjRthdAZnR687
Suu5fX3eaCbW40uwOkdUJ5k8dcubRUarkY6oPTaKFKUUZ7tJLNpsY96Czux6zpebadJn49jCDhx1
Gx3zNsmtHVF7b8zryLFS9s3fPFfRNafBXpC+F7kr6HxRbfbesgtG46x5u3Q/DDQ5r/fL24CvesPn
W8H381nz9BbwRWrN0Sx8Z1T4ClcAX7HG7LwlhN+dNuiEWfNyaSgfr7YmFd1yGvSqRsPeK4FyqezC
W8FrWFgxcEmY/3qhVsQzJbWXxdnL7GVBV3HkJXpZ+GZ58S26WRQX9CEidf38ZcNTzYGXgOf8LO+9
BTz6ebyHKTPAg4D3gqRa7a3hqeG4S0D0YA2vXRoqdLaG2Wh1rcUIvEZo1Ho5s7YEh10Cvu4FvPUW
MH5iAXNpPQ6+DrGQkTxBo6htiy4X7aOqJ2kQPR2Lk5CUJHwgEILXyb7OxnaH4ljWOoY69nW0H9q7
/tAdGzti1tY77fwtm3cIxp4zzYcE4TtjRzsmM+sbG3agbYWeT2647cGDW6dvt28eHtQ7+/bpJT3d
mW7H8hxv/QZ8vn5q/TXpGrGoy3dVrSQOLubuXXV/CfTH+Z6fpkNfVvfpK1Rk6Y4T1QK+oPvE1+ZM
zII+FOgP1aJ8+eNVCfCC8dg5k7FwvO9Ui2plvDPqeNFLjFcjoAtGtNREGIuMuqxW71fG3a6Om7zE
uIuxyoLhP7sYGywCxVfnzy9ThqOvTO+mS0CyhDJYAMw/LjQvCyE5uNCm0FQ7FUdfQcfU58a41Ce+
VAApVpLsNk6xh/K/s3jcVtntlskLPn+2dOZ2d53HLVvdHyB/4HOePI5FpfM/opfRZyieMpFnTvQg
DaMir3lvxdl8NxeLl58Yp4Cz9+5Ph1vyfT/5bF22u7UhPH5iS1c6Kki4buT0dDEV1ls3XIxunhz6
TKlh99Cy97d07Nt60ltERiHXunfLaVcLEsu9fV9H/wW83EYNvZ0OE8Uq2bqCbhPOOam78r4Tv6s1
sNcOlyq5vQJc/mFOoq8cl1drjXMFlzOAy8jbwqVGJ1wBNq/WOoxXjtFobU5Cw6dPnZvJt4XREjJ+
BbgxC6X/yvG7cbE4HGv9H4AHe6jxt90Borro7Kq7QSBuli+vujEE3b7Ad7SWSujv8BeoPJE1xb50
l7C5VpXVzZos8zozPTK/A1N1z0q+0qvp7v0JqyRZILQeUlszxfYX3TX9l1rxp2vbV76ktWvat/z6
uxka+T9pdxqdO8eHd3pNwJPaXPWpc7X+bc/WUpufrnrmIgvY9KonEP94Ibcirdcf+qj65LK38rMv
4U9f2nuGccSZi7hJ7R8P4xBfOL/IapX6wX6px1Lcdb2NOTX/0RT36PX0o0s/n+KuUdaz+gvzn1Fx
2ybGKuz53BIPqqj0PkY+8O9J3yd+sWUp9cO8To9FB/Idnd8Qb7Vej3fNdcXboaAPXvet+b7u2RFs
EdYhS3Uzv39dy1WeD/AH+hdAvwnqOu2psovt1itWtustslsvO2+7nglVfBXaosYs2l4AtbEVvuHp
U0bGQFvYqp3SeqW9z2bl9IxVfUgRI/BOc1e7Q5Dtu3d51U162l7prlzL9me+/8PP+t8Rctd1rjza
FzDGuw8OF0JWccF+6FdsPMv5E+revMSAAO+JAF/ZmmeerOyHpj9/4fxX6Yv/hp7uFsTmdft7I2Pr
+pMmoSoP+C30KCVSOdLdtzjb6gJcKLZ6w7NdLSKvPAeOtAks90KtSVnYbScHO7pale5Uphf94S8t
woblkbidExPHmtco7vUtG4+e2tSy2uVelx6YpNmf9kzowSerH/zO6LHrBtOre3e4TMro9XYv5tkt
yVii4fCWraeSDYn0SLOFE/x6TlISBb+6X1V97gC9GiLv9it88gAdz2UVB3kALM9d7lMIvn5GOmG2
vEM8Y7+85xGgZ06ZyFo0Np4qx5ekF1sck15s7VfWjY1WSP+OjMKTx2RdVm+2tnmByuV0akPUvDyC
tq5cr64rb782K8tLbpV526vMZxasrl+TteYXF663a73Pge9UH/mqu5/LVTx4lZ3Q/36WJa+wJzre
NJ831Z5VwJtZogGupmtVLY9eRQ+rF2u85cvsaIUfreFZNPOHmbvQH/F7SZ5azhaKNf1eJAZQyfoR
aXlTXq8g+kudHmsxEssd32rz5nYnc25B0rm8JpddMnM8QgfBi3yHL92UKvjq9HpGJ9bZg4aCuJZF
79nWvi8i2z1y3pII9vnCPM062Atv5pojZknmpUQfyk8witqrAr2EUhCLgOuHatPOvtoo4aVqhMh1
r8F1ZI2GkmsovLxGwufTgWpGv0etMB55skiQuL8kz4w6Sm/Sgt76VateQL+/S6+fmNCXn392F/oZ
9TM1P1DTgeb5iv8012xG45cJ9LfIie+DeNuq9tWYv8p1T81iFb6vdvkJUVtmIshA2SgzecZ0ORGu
2Zd87tXYap/bI+sjrfUNtpXtroCJNjang+NqP0v0N2gZ3g5XUoum125dLEWCswuXOgEHB/oyWl3O
QdV0pwDunlu46J/1/T+5eM8Ky/z+FRT1PPoN9XPS2ywfsodI7/2ft2jH6dfnjtOv/8mpHi+iH1LP
4a+TDiVaVTORMNWNgxn4i0C6P2vWLw9ZPA70w7Z4y6hJZ4xk3T6E3Satb2QR/T1c/4J6vbbXJVbu
mgb32lt1PX5h0etTM7dQH6d2k+tJ453a67cEmtDsDXYvcj0m8KMtKvwR8ozZ+RhEFhxBqSqgXr4k
ggsHJOP9PYz3Qnm8BRhHFhxB5qoxHrwkQRYbD+iDVqv0gfGiCygUWXAEcdVEe/CSFFwwIKIyM+9E
z+AnSZaOjajl7flwVXVZLlYpebRn5h6YHbGR3iKICkYcUmTKoDidimEqElDSSiAyJTqcToc4FZEc
kTP3nD3uGR8LOG2y09+/lbX6/VZ2a7/fKducgbFxz/GzKk9kZ/4CfQpgWFHpmmMvL3mXh5JQ7YFK
Xx0V0nxO1aq5WAX02QP53I+Sij+YTOuSSSOBxyHNfvErcCq82phM6tLJIDk1+8WPn/RZ2C19krmx
wdc76LCNLNM+7mMtfr+F3dfra2g0S8tGbI5B7WPfFtaiygb1TbQC/W/SI6iipe4+Njl5bBL978lj
ExPHiP9708yb9EmYX0F7AjU71zkgtOhH9JvK06xz5Q8XV5Q/SOVuAbVvMHpq5jVmHN8PusZLJVTP
YR21hXitEgqXa1j5XBpDFAG+YKYboys+oSeShwr4//qGtg/5lt+/fIiVQs0hE8eZ4E1iSx9e4gTd
s9QVO0v7RSs6L3+8frK7e7J+8PjxQWeqGAoV0s3pfChUTKHcUmdKf1jymtcvbhEF/CGs8lmOilMv
qD1Y5nXReuFSnbI0m5WCa5/Xrr1Uv5baDi3gI4zNvIa8ah8Oild7cHyh3BVD62Ch+hG/hZjIj28n
3pCc1bwERQsZSRDBh8ANDnEORX0Hby9DnEBt64DWaSsCnm82Bk5FwZa1ffhkT4dBoHWktZ0l1Fo3
ftiAxmhWV/oqgn9FltOXfiAenAi3JWwiY8QWp0Fge7O3XzBOMDpuENMdjA7dfOyCg0EjTeD22iIJ
56mjjJPRRXXw99htSsqrMDS7Osgw2PbISfBB5DDrUHVzgrrICPgpKk9d0DrzaLaSuKlZ1UstFBVO
eyxtOdRVS6htVU5+NJ6Lh7X+u9pDPsljcxb8qpjr1rZXzu2wraR6Zvfbqr1EF/Sv/UfOHG1oEBgL
MgtGVg4h2m3TGSUGm2nO05Qyc4xFBp99ueIfhQDXr5jwCwymI21Cluc5OdoR0IO3iERFxnQsJLcz
iJHsVsxyiLF6TKRdiTPmodMdXp6JNOVER9CaYRmry8pig8UOPy44wgW4r00R0J4/WnhnCMLzppyR
Z/U4mWcQHXPwlj8G3TLCjNbwhcEoJL0m474bLHtllskPn+jl+bWt43VOjBkTjTHJfWKrGzd3e9fE
3RBlqBc2rj9UZHD/huuS8MVCY9rpec9hclv15+QItmh83Q5c/RXNT4iWnz7/c3WZo/ysErJ/tLxf
Z7GHkpC4vZLQWDwRVakAX+TUtsoDS+w7x7NjHsmit+UcR3jx0KYETy9IW1lCt4q86FYfA5qsJGsO
VbaJ7hjJrE0HbXZTOPhfBlk0saP5j81P2jyTsovyd+e3Lscqnr8GPAdIZ43LfSqLUnnIxCI/LObL
WZpKZSba8JjEiu4AAN2ZnLdh1mPfOpptcOsYev6OWgirXHXxrI3jjI+JPNquU7671CNcbuzPrnS7
mf7Vpe75WP/YyHc/nleCTWt6GgMmDowT9f8BUUM98QB42p2TT2/aQBDFH8YJSg9RgnqKqmrFKakS
ZEgVYZELIX+aUynk0Ftl7DVYAS9aL5HySXpvT/1WvfXSc8+dHTaERklbBeTdn2f3vRmvxwBe4hdK
WPy+lt45LmHDg2MPFW/HcRk73kfHPra9z47X8Nr74Xgd2+U3jiv4UP7ueAubfs9xFRt+QW4lf4PS
nLOz5RKqpZ+OPWx6LxyX8darOfZR8+60azj2vjleR6287riCL+Vjx1t45TcdV1H1P6ELhRluoZFh
hDEMBHYRY4/mBkK06Np3HKK5wkcr3FrhkKiDhHyHkMQDci/IV2JKs8AlcvJXlHHGY8RrCeq0ZpUT
+gv0l/UUfCdplrT7xu1dzXBBHtZnSpGc4oK0VhXRpWnHiO8N6yWvG96fcE1We00xhfTZlaOrZrc6
G42N2I33RCNshfs0hk0ej3hs8RiKTqKGUgxuCyOnhbjMY6VnSkdGJnUhOpOJ6FufQvRlIfUNRReC
i0hHU5UnIitEJLQcZWSgZSKMjhI5jfS1UOnfzEHP9vCk0LmzBZ/xCHM6fbsHfTmaTyKCBj1fgDap
T3GCM6aHPgcP1Y160O6cnpy1lwkOlob/IX9E9R5XOOcmW5TTo9cjiAIXCXBI0S6/GLncV6eWbZL4
6lzYknoDEQQEwWG7q7S0sXqz+dySerQmabXghDZtyj1m+0vxOOaVx74xq4mJMs4nSKmccqFJOW6e
6FXbeYb9hlThvUtOs72L+XuhV96byKiQ1C6p1MIoYcZS3PdqIWOTqVykSvNKqnKz0k+RMTobznlL
rkwWy4K76OkvD3/26j9a7jfs/gukeNptz1WMDwAAgPHf/Z3O093d3c3hQnd3x3Gc7r7jjNl4Ymo2
TDtMd+d0d3e+8p9n3/Y9f/sE/ONPksr+x9ugIQKSCZVcCimlkloaaaWTXgYZZRImsyyyyia7HHLK
Jbc88sonvwIKKqSwIooqprgSSiqltDLKKqe8CiqqFGxXUVU11dVQUy211VFXPfU10FAjjTXRVLhm
mmshQqQo0VpqpbU22mqnvQ466qSzLrrqprseeuqltz76Wm+ueQ5bEfyZb4lFVtlkgwT3zbHcdz8k
Wmmhkx77ZrXNfvnpt3W2Ou+sbfrpb6kBLhronAuuuuSyK94Z5IZrrttusK+Wue2mW4b44JN4www1
3EgjjLJGjDFGizVWnHHGm+C9iSabZIppptpvrRmmm2mWjz474I7nXthhp5deOei1Nza665kHHnrk
qXue2GW3vfY5ZY8kp812wgJbnHHEUYdCAhb74pjjoeFxsTF/ATXbcQoAAAAAAAH//wACeNpjYGRg
YOADYgkGEGBiYGRgZngOJFnAPAYADlEBHAAAAQAAAAoAHAAeAAFsYXRuAAgABAAAAAD//wAAAAAA
AHjajZZNaFxVFMfPfCTvZRptE1TSD4OLoKJ1U8SkSZASps1E0ySdfE2+igqKYAlBsuqiuBBxKVm4
Ci5chEAlhNK4CAVFZhVkCMYOE32U8Da+RXhEeQwyCM/fvffNy9hUKMPJvfe9c//nf879n/siCRHJ
SKdclMSt95cXxZY0TyQMRb1JfPLhp+qZmBXvknq0JZFJas8++UxWZF02EnZiIDGRuJM4TJ5LZpM3
kz8mf0ulUwOpW6kvUn+nB9Ifp79Je00fNN1vzjQvNa9YYl2yclbeWrJuW59bX1sPWO1Yv7LK8Xtk
/WO32xdYLzF+ZH9lb9i7dlVWWs603G5ZJXZ3uCeXwz+lF+vHmuQNeUm6pVUuY71YP5aQchjIC/Iy
f1/DLmFvYt3htvSEhyBsgrAKwk9ylefXsEEsF9Ykj40zn2CcxgqhLzNhWWaxBWkGeU2eBakKUhWk
Q5AOJMuOq3grhHeZD2Mj2Cg2iRWweZDSrAzmfOjJAmMmwjiETRWcOoavMfIN+8/jGeAZ4BlEvGvw
NjuGWL8TR6/J9QYGY6xvxLn5OrdJnZ8f5eeSnytzPJtXeTKektPhsrRhXaEDr12iOCA/AtEHyQHB
Yben88o0MDfZj+qYvo45iZepQEAFjafKT71VDFxdjQ7e+LqK1xgHMeU1xNrkVdO413k2wlzhj7G+
oavkk9cBcXyZwqZ1vAPy8sjL03FVTiq2C6oLkscuFy9Hv82gFQetOGjFQStOpAVfZ2jqs6tZnpYu
FHZSWavoweeE1jihFU5oW59AAZRZHeMXlHNH10mdm0d+HjG8OCdzPl7EyH0iV1e/ucCJuER0ieYR
7WfpY96Pqcqa+jXqovaUuqjFupiKtV/TdWtHC8NoYZjIFXmVna9jF7EsasmFO/HpmFN3QNwByQXJ
iVSmuNekBQQP7h7VCuDvw9+Fv9F0Nor5zInTUH3fE/7Bjm12bOG9R1zTH0ZZLiyzuoeDWINGK/Vc
PZh5esc440TUWUYrXtwDSg2dnHArOX8pZzjXNsYXuTE6sa7wB7h5cPPgdgC3A3lLnb++fZq5Gdv1
DXQFy6KDHHuHqdkYZ59nPsk4BWaBcRabx2eBnN7Dv4yyniNCEN8mRidu1NumY4617+hKj/NedeIU
4zQ2g+9c1Gvqfnm+IZdilItPLntE2mrIxSMXD96qC9fhvUq0KpxXQb8H33UQj3mebUCtRKhFUIsR
qg+qD6oPqq+rU0ceBC2HKfSx8Fsi3CPCBtzvE+W7/0SxT/DLaYWYji6DeD7isQmP7+GxGfH4/Ykc
6t+Ivug7YTg9gNMayGsyygnm4TQBz2n6qgDmTFiK+bRGve+C7ILsguzGN99wrMd6zzsnvk8dOm6S
u2Bb9jEL7kfwPiKO2lXTXVIm5j6m/Hxmvp4FzAK+ILOwXGAsE3sfayHKCDfLCMiLMd4VWYb3IrwX
ZR9LyZD+eh3jHTI71LMKswpcDI8jeATRtyCIuTTFyLOPMTQzdUcofRWj2+cvalIlpq0Vm49ul2nW
BWwG/1lsDk7zjObLahhlQNoCaUtXtvEuq6OUUcA+ZsWejV71t3bDdz2I985oD5NxC/vvsv9u5Pl4
FFd7NZ/gUN9/DrWvcLodnG47p9seKUvdRKoOJXaV2FWigyt0sLoHinRtEZQSnVskTonOLaO2Irop
wq5CfStUv0T1i3RwSR7y7bBBWo3usW36ZZtdm+za1Pos43EWLmtwaY+59Os76Ol5TGoupf/hUtFc
kjBJ8RP+PzjF/1lt/JJ0xds8y8owN+eI3JRX5CG665EKv95/ARVjqdsAeNpjYGBgZACCY6nbT4Ho
Lcon/sNoAFH0B+oAAA==) format('woff'), url('https://bitbucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/AGaramond-Regular.ttf')  format('truetype'), url('https://bitbucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/AGaramond-Regular.svg#AGaramond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
	color:#00ab84;
	font-size:40px;
}
p {
	font-size:26px;
}
a {
	color:#00ab84;
}
</style>
</head>
	<body style="font-family: 'AGaramond-Regular','Times New Roman'!important;">
		<table width="100%" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border:#cccccc 1px solid;">
			<tr>
				<td border="0" style="border:none;background:#000;text-align:center;padding:3%;">
					<a href="www.perfec-tone.com"><img style="width:100%;max-width:288px;" src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/perfectone-logo-white.png" /></a>
				</td>
			</tr>
			<tr>
				<td border="0" style="border:none;">
					<table style="margin:0 auto;width:600px;padding:0 34px 110px;">
						<tr>
							<td style="text-align:center;">
								<h1 style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:40px;">Appointment Scheduled Email<br>(Sent Automatically)</h1>
							</td>
						</tr>
						<tr>
							<td style="text-align:left;">
								{{email.new_html}}
							
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td border="0" style="border:none;height:26px;background: url('https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/perfectone---pattern---white.png') repeat-x;"></td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<table style="margin:0 auto;width:600px;padding:89px 34px;text-align: center;">
						<tr>
							<td>
								<table style="margin:0 auto;width:420px;text-align: left;">
									<tr>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/phone.png">
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											(242) 603-SKIN (7546)
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:26px;font-weight:bold;color:#00ab84;">
											//
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/phone.png">
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											(888) 265-4792
										</td>
									</tr>
									<tr>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/mail.png">
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											ap@perfec-tone.com
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:26px;font-weight:bold;color:#00ab84;">
											//
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/search.png">
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											www.perfec-tone.com
										</td>
									</tr>
									<tr>
										<td rowspan="2" style="vertical-align: top;padding:4px;">
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/marker.png">
										</td>
										<td colspan="4" style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;color:#000;">
											89 Mount Royal Avenue, Palmdale
										</td>
									</tr>
									<tr>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;vertical-align: top;color:#000;">
											Nassau, The Bahamas
										</td>
										<td style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:26px;font-weight:bold;color:#00ab84;vertical-align: top;">
											//
										</td>
										<td colspan="2" style="font-family: 'AGaramond-Regular','Times New Roman'!important;font-size:18px;vertical-align: top;color:#000;">
											P.O. Box: N-9973
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table style="margin:0 auto;width:420px;text-align:center;">
									<tr>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/facebook.png">
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/instagram.png">
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/twitter.png">
										</td>
										<td>
											<img src="https://bytebucket.org/alexanderkushnir/mail-pr/raw/191083e610eb63d954a2bbd8cb5321a2e5332859/ct.png">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>

{% if email.agent %}
{% if email.agent.signature %}
<div style="margin-top:10px;"> {{email.agent.signature | newline_to_br}}</div>
{% else %}
<p>
  --<br />
  {{email.agent.name_public}}<br />
</p>
{% endif %}
{% endif %}

{% endif %}
  
  <br />

{% endfor %}
{% for i in (1..threadlength) %} {{ '</blockquote>' }} {% endfor %}